<% @page_title = t(:there_was_a_problem) %>

<div class="container-fluid">

<div class="row-fluid">
  
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

<div class="span9">

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p><%= I18n.t(:donation_problem) %></p>
      <p><%= link_to t(:back), donate_path %></p>
    </div><!-- page-info -->
  </div><!-- page -->
</div><!-- page-wrapper -->

</div>

</div>

</div>
