<% @page_title = t(:my_account) %>


<div class="row-fluid">
  
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

<div class="span7">

<div id="page-wrapper">
    <div id="edit-account-form" class="form-stacked">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <fieldset>
          <legend><%= t(:edit_my_data) %></legend>

          <div class="form-field">
            <%= f.label t(:avatar) %>
             <img style="width:100px;" src="<%= avatar_url(current_user.email, 200) %>" alt="<%= current_user.email %>"/>
             <div style="float: right; width: 18em;" class="alert alert-info"><%= t("oigame.user.registration.gravatar_html") %></div>
          </div>
          <br />
          <br />

          <div class="form-field">
            <%= f.label t(:email) %>
            <%= f.email_field :email, :required => true %>
            <% unless resource.errors[:email].blank? %>
              <span class="error_message"><%= resource.errors[:email].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-field">
            <%= f.label t(:name) %>
            <%= f.text_field :name, :placeholder => t(:name) %>
          </div>
          <div class="form-field">
            <label for="user_CIF / NIF">CIF / NIF</label>
            <%= f.text_field :vat, :placeholder => t(:only_for_donations) %>
          </div>
          <div class="form-field">
            <%= f.check_box :mailing %> <span class="note"><%= t(:i_want_to_receive_news) %></span>
          </div>
          <div class="form-field">
            <%= f.label t(:current_password) %> <span class="note">(<%= t(:we_need_your_pass) %>)</span>
            <%= f.password_field :current_password, :required => true %>
            <% unless resource.errors[:current_password].blank? %>
              <span class="error_message"><%= resource.errors[:current_password].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-actions">
            <%= f.submit t(:update), :class => 'btn primary' %>
          </div>
        </fieldset>
      <% end %>
    </div>

    <div id="edit-account-form" class="form-stacked">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <fieldset>
          <legend><%= t(:change_my_password) %></legend>
          <div class="form-field">
            <%= f.label t(:password) %>
            <%= f.password_field :password, :style => "display:none;", :name => "fuckautocompleteonfirstpasswd" %>
            <%= f.password_field :password %>
            <% unless resource.errors[:password].blank? %>
              <span class="error_message"><%= resource.errors[:password].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-field">
            <%= f.label t(:password_confirmation) %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="form-field">
            <%= f.label t(:current_password) %> <span class="note">(<%= t(:we_need_your_pass) %>)</span>
            <%= f.password_field :current_password, :required => true %>
            <% unless resource.errors[:current_password].blank? %>
              <span class="error_message"><%= resource.errors[:current_password].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-actions">
            <%= f.submit t(:update), :class => 'btn primary' %>
          </div>
        </fieldset>
      <% end %>
      <h3><%= t(:cancel_account) %></h3>
      <p><%= t(:cancel_account_explanation) %><%= link_to t(:this_link), registration_path(resource_name), :confirm => t(:are_you_sure), :method => :delete %>.</p>
    </div><!-- edit-account-form -->
  </div><!-- accounts -->
</div><!-- accounts-wrapper -->


</div>


