<% @page_title = t(:signup) %>

<div id="accounts-wrapper">
  <div id="accounts">
    <div id="signup-form" class="form-stacked">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <fieldset>
          <legend><%= @page_title %></legend>
          <p>
            Si quieres proponer campañas o recibir noticias de oiga.me, create una cuenta de usuario.
          </p>
          <div class="form-field">
            <%= f.label t(:email) %>
            <% unless params[:email] %>
              <%= f.email_field :email, :required => true %>
            <% else %>
              <%= f.email_field :email, :value => params[:email], :required => true %>
            <% end %>
            <% unless resource.errors[:email].blank? %>
              <span class="error_message"><%= resource.errors[:email].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-field">
            <%= f.label t(:password) %>
            <%= f.password_field :password %>
            <% unless resource.errors[:password].blank? %>
              <span class="error_message"><%= resource.errors[:password].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-field">
            <%= f.label t(:password_confirmation) %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="form-field">
            <%= f.check_box :mailing, :checked => true %> <span class="note">Deseo recibir noticias de oiga.me</span>
          </div>
          <div class="form-actions">
            <%= f.submit @page_title, :class => 'btn primary' %>
          </div>
        </fieldset>
      <% end %>
      <%= render :partial => "devise/shared/links" %>
    </div><!-- signup-form -->
  </div><!-- accounts -->
</div><!-- accounts-wrapper -->
