<% if @locales.any? %>
    <% total_count = Tolk::Locale.first.translations.count %>
    <div class="row-fluid">
      <ul class="thumbnails">
      <% @locales.each do |locale| %>
        <li style="width:30%">
          <div class="thumbnail" style="height:10em;">
            <div class="caption">
              <h3><%= link_to locale.language_name, locale %></h3>
              <p>
                  <% missing_count = locale.count_phrases_without_translation %>
                  <% translated_count = total_count - missing_count  %>
                  <div class="progress progress-striped active">
                    <% if translated_count != 0 %>
                      <div class="bar" style="width: <%= translated_count * 100 / total_count  %>%;"></div>
                    <% end %>
                  </div>
                  <%= link_to "Traducir", locale, :class => "btn btn-primary" %>
                  <% if translated_count != 0 %>
                    <%= translated_count * 100 / total_count  %>%
                  <% end %>
                  <% if missing_count > 0 %>
                    <span class="badge badge-important missing_translations"><%= locale.count_phrases_without_translation %></span>
                  <% end %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  
<% else %>
  <p>No locales yet.</p>

<% end %>
<%= form_for(Tolk::Locale.new) do |f| %>
<div class="submit">
  <p>
    <%= f.label "Agregar idioma nuevo" %>
    <select id="select_tolk_locale_name" name="tolk_locale[name]">
      <%= options_for_select tolk_locale_selection %>
    </select>
    <%= f.submit 'Agregar', :class => "btn btn-primary" %>
  </p>
</div>
<% end %>


