<% @page_title = t(:login) %>

<div id="frontpage">
  <div id="front-page-left">
    <div id="logo">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>
    <div id="login-form-page" class="form-stacked">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <fieldset>
          <legend><%= @page_title %></legend>
          <div class="form-field">
            <%= f.label t(:email) %>
            <%= f.email_field :email %>
          </div>
          <div class="form-field">
            <%= f.label t(:password) %>
            <%= f.password_field :password %>
          </div>
          <div class="form-actions">
            <%= f.submit @page_title, :class => 'btn submit' %>
          </div>
        </fieldset>
      <% end %>
      <%= render :partial => "devise/shared/links" %>
    </div><!-- signup-form -->
  </div><!-- front-page-left -->
  <div id="front-page-right">
    <% flash.each do |name, msg| %>
      <div class="flash-messages">
        <div id="<%= "flash-#{name}" %>" class="alert-message <%= name %>">
          <a class="close" href="#">x</a>
          <p><%= msg %></p>
        </div>
      </div>
    <% end %>
  </div><!-- front-page-right -->
</div><!-- frontpage -->
