<% @page_title = t(:login) %>

<div id="accounts-wrapper">
  <div id="accounts">
    <div id="login-form" class="form-stacked">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <fieldset>
          <legend><%= @page_title %></legend>
          <div class="form-field">
            <%= f.label t(:email) %>
            <%= f.email_field :email, :required => true %>
          </div>
          <div class="form-field">
            <%= f.label t(:password) %>
            <%= f.password_field :password %>
          </div>
          <div class="form-field">
            <%= f.check_box :remember_me %>
            <span class="remember"><%= t(:remember_me) %></span>
          </div>
          <div class="form-actions">
            <%= f.submit @page_title, :class => 'btn primary' %>
          </div>
        </fieldset>
      <% end %>
      <%= render :partial => "users/shared/links" %>
    </div><!-- login-form -->
  </div><!-- accounts -->
</div><!-- accounts-wrapper -->

