  <div class="span3 realtime hidden-phone">
          <ul>
            <li>
              <a href="#">
                <%= image_tag("bob.png") %> 
              </a>
  
              <a href="#">
              <label>africa:save africa from the fmi </label>
              </a>
  
                <%= image_tag("jamaica.png") %>
            </li>
  
            <li><a href="#"><%= image_tag("propias.png") %></a></li>
             <li><a href="#"><%= image_tag("calientes.png") %> </a></li>
             <li><a href="#"><%= image_tag("ultimas.png") %> </a></li>    
             <li><a href="#"><%= image_tag("tipologia.png") %> </a></li> 
             <li><a href="#"><%= image_tag("activista.png") %> </a></li> 
             <li><a href="#"><%= image_tag("geografica.png") %> </a></li> 
             <li><a href="#"><%= image_tag("geografica.png") %> </a></li>       
        
         </ul>
  </div><!--/.realtime-->
