<%= form_for(@sub_oigame) do |f| %>
  <% if @sub_oigame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_oigame.errors.count, "error") %> prohibited this sub_oigame from being saved:</h2>

      <ul>
      <% @sub_oigame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :html_header %><br />
    <%= f.text_area :html_header %>
  </div>
  <div class="field">
    <%= f.label :html_footer %><br />
    <%= f.text_area :html_footer %>
  </div>
  <div class="field">
    <%= f.label :html_style %><br />
    <%= f.text_area :html_style %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
