<%= form_for(@sub_oigame) do |f| %>
    <fieldset>
      <legend>Opciones generales</legend>

    <% if @sub_oigame.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sub_oigame.errors.count, "error") %> prohibited this sub_oigame from being saved:</h2>

        <ul>
        <% @sub_oigame.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= f.label :name, "Nombre" %>
      <div class="clearfix">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-field">
      <%= f.label :from, "Dirección de envio" %>
      <div class="clearfix">
        <%= f.text_field :from, :placeholder => "noreply@oiga.me" %>
      </div>
    </div>

    <div class="form-field">
      <%= f.label :sub_oigames_users, "Correo del usuario administrador" %>
      <div class="clearfix">
        <%= collection_select :sub_oigame, :user_ids, User.find(:all, :order => 'email ASC'), :id, :email, { }, { :multiple => true } -%>
      </div>
    </div>
  </fieldset>
  <fieldset>

    <legend>Diseño</legend>

    <div class="form-field">
      <%= f.label :logo, "Logo" %>
      <div class="clearfix">
        <%= f.file_field :logo, :class => 'input-file' %>
      </div>
    </div>

    <div class="well">
      Podrás usar estas etiquetas HTML
      <p>
        <code>
          a img div span p table tr td ul li ol h1 h2 h3 h4 h5 h6
        </code>
      </p>
      Con estos atributos
      <p>
        <code>
          id class src style href
        </code>
      </p>
    </div>

    <div class="form-field">
      <%= f.label :html_header, "Header (HTML)" %>
      <div class="clearfix">
        <%= f.text_area :html_header, :style => "width: 500px;", :placeholder => "La parte superior de la página" %>
      </div>
    </div>

    <div class="form-field">
      <%= f.label :html_footer, "Footer (HTML)" %>
      <div class="clearfix">
        <%= f.text_area :html_footer, :style => "width: 500px;", :placeholder => "La parte inferior de la página" %>
      </div>
    </div>

    <div class="form-field">
      <%= f.label :html_style, "Estílos (CSS)" %>
      <div class="clearfix">
        <%= f.text_area :html_style, :style => "width: 500px;", :placeholder => "Los estilos CSS, por ejemplo: a {color:blue}" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Enviar", :class => 'btn btn-primary btn-large' %>
    </div>

  </fieldset>
<% end %>
