<% @page_title = "Listado de SubOigames" %>
<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <h1><%= @page_title %></h1>
      <table class="table table-striped table-bordered table-condensed" style="margin-top:25px;">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Activadas</th>
            <th>Archivadas</th>
            <th>Moderadas</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
      <% @sub_oigames.each do |sub_oigame| %>
        <tr>
          <td><%= link_to sub_oigame.name, sub_oigame %></td>
          <td><%= link_to sub_oigame.campaigns.last_campaigns.count, sub_oigame_campaigns_path(sub_oigame) %></td>
          <td><%= link_to sub_oigame.campaigns.archived_campaigns.count, archived_sub_oigame_campaigns_path(sub_oigame) %></td>
          <td><%= link_to sub_oigame.campaigns.last_campaigns_moderated.count, moderated_sub_oigame_campaigns_path(sub_oigame) %></td>
          <td>
            <%= link_to 'Proponer campaña', new_sub_oigame_campaign_path(sub_oigame), :class => "btn" %>
            <br />
            <br />
            <% if permitted_to? :edit, sub_oigame %>
              <%= link_to 'Editar', edit_sub_oigame_path(sub_oigame), :class => "btn btn-primary" %>
            <% end %>
            <% if permitted_to? :destroy, sub_oigame %>
              <%= link_to 'Eliminar', sub_oigame, confirm: '¿Estas seguro?', method: :delete, :class => "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
      </table>

      <br />
    </div>
    <div id="show-campaign-sidebar" class="grid_8">
      <% if permitted_to? :new, SubOigame %>
        <%= link_to 'Crear nuevo SubOigame', new_sub_oigame_path, :class => "btn btn-success btn-large" %>
      <% end %>
    </div>
  </div>
</div>
