<% @page_title = "Listado de SubOigames" %>
<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <h1><%= @page_title %></h1>
      <table>
        <tr>
          <th>SubOigame</th>
          <th colspan="3">Campañas</th>
        </tr>
        <tr>
          <th>Nombre</th>
          <th>Activadas</th>
          <th>Archivadas</th>
          <th>Moderadas</th>
        </tr>
      <% @sub_oigames.each do |sub_oigame| %>
        <tr>
          <td><%= link_to sub_oigame.name, sub_oigame %></td>
          <td><%= link_to sub_oigame.campaigns.last_campaigns.count, sub_oigame_campaigns_path(sub_oigame) %></td>
          <td><%= link_to sub_oigame.campaigns.archived_campaigns.count, archived_sub_oigame_campaigns_path(sub_oigame) %></td>
          <td><%= link_to sub_oigame.campaigns.last_campaigns_moderated.count, moderated_sub_oigame_campaigns_path(sub_oigame) %></td>
          <td>
            <%= link_to 'Nueva campaña', new_sub_oigame_campaign_path(sub_oigame), :class => "btn" %>
            <br />
            <br />
            <%= link_to 'Editar', edit_sub_oigame_path(sub_oigame), :class => "btn primary" %>
            <%= link_to 'Eliminar', sub_oigame, confirm: '¿Estas seguro?', method: :delete, :class => "btn danger" %>
          </td>
        </tr>
      <% end %>
      </table>

      <br />
    </div>
    <div id="show-campaign-sidebar" class="grid_8">
      <%= link_to 'Nuevo SubOigame', new_sub_oigame_path, :class => "btn success" %>
    </div>
  </div>
</div>
