<p id="notice"><%= notice %></p>

<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <h1><%= @sub_oigame.title %></h1>

      <h2>Diseño</h2>

      <p>
        <b>Header (HTML):</b>  
        <pre>
          <%= @sub_oigame.html_header %>
        </pre>
      </p>

      <p>
        <b>Footer (HTML):</b>
        <pre>
          <%= @sub_oigame.html_footer %>
        </pre>
      </p>

      <p>
        <b>Estilos (CSS):</b>
        <pre>
          <%= @sub_oigame.html_style %>
        </pre>
      </p>
    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar" class="grid_8">
      <p><%= link_to 'Editar', edit_sub_oigame_path(@sub_oigame), :class => "btn primary" %></p>
      <p><%= link_to 'Campañas', sub_oigame_campaigns_path(@sub_oigame), :class => "btn success" %></p>
    </div>
  </div>
</div>
