<% @page_title = t(:home) %>

<div id="home-campaigns" class="container-fluid">
  <div class="row-fluid">
    <div class="home-camp span5 offset1">
      <div class="camp">
        <%= image_tag('afrika-mini.png') %>
      </div>
    </div>
    <div class="home-camp span6">
      <div class="camp"> 
        <%= image_tag('afrika-mini.png') %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="home-camp span5 offset1">
      <div class="camp">
        <%= image_tag('afrika-mini.png') %>
      </div>
    </div>
    <div class="span6 home-camp">
      <div class="camp">
        <%= image_tag('afrika-mini.png') %>
      </div>
    </div>
  </div>
</div><!-- container-fluid -->

<div id="semi-footer" class="container-fluid">
  <div class="row-fluid">
    <div id="home-icons" class="offset1 span5">
      <%= link_to image_tag('semi-footer-img1.png'), '#' %>
    </div>
    <div id="home-text" class="span6">
      <h1>Recogida de firmas</h1>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <h1>Mailing masivo</h1>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <h1>Fax</h1>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </div>
  </div>
</div>
