<% @page_title = t(:home) %>

<div class="row-fluid">
  
<div class="span12">

      <div class="span5 offset1 people">  
        <ul class="pull-left">
           <li><%= image_tag("altavozpk.png") %> <label><%= @total_published_campaigns %> <%= t(:campaigns) %></label></li>
           <li ><%= image_tag("firma.png") %> <label><%= @total_signs %> <%= t(:firms) %></label></li>
           <li><%= image_tag("usuario.png") %> <label><%= @total_users %> <%= t(:users) %></label></li>
           <li><%= image_tag("world.png") %> <label>2 <%= t(:languages) %></label></li>
        </ul>
      </div>
      <div class="span4 " id="navcampana"> 
        <ul class="">
          <li><a href="#"><%= image_tag("social.png") %></a></li>
           <li><a href="#"><%= image_tag("propias.png") %> </a></li>
           <li><a href="#"><%= image_tag("calientes.png") %> </a></li>
           <li><a href="#"><%= image_tag("ultimas.png") %> </a></li>    
           <li><a href="#"><%= image_tag("tipologia.png") %> </a></li> 
           <li><a href="#"><%= image_tag("activista.png") %> </a></li> 
           <li><a href="#"><%= image_tag("geografica.png") %> </a></li>       
       </ul>
      </div>


 
        
    </div>
     <div id="myCarousel" class="span10 offset1 carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">

        <% @campaigns_carousel.each do |campaign| %>
          <% if campaign == @campaigns_carousel.first %>
            <div class="active item"><%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">
                      <div id="izquierda" class="span8">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
            </div>
          <% else %>
            <div class="item"><%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">
                      <div id="izquierda" class="span6">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
            </div>
          <% end %>
        <% end %>
        
        
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>



    </div>   


  
</div> <!--/.row-fluid-->
  
 <div class="row-fluid hidden-phone" id="claim">
    <div class="span5 offset1">
         <%= image_tag("bombilla.png")  %> 
         <h4>Una herramienta de presión social abierta, horizontal y transparente. 
          </h4>
    </div>
    <div class="span5">
         <%= image_tag("dedo.png")  %> 
         <h4> Firma y actúa, comparte con tus amigos y compañeros  y haz llegar tu queja al resto del planeta 
          </h4>
    </div>
   
  </div>



<div class="main">
  <div class="row-fluid offset1 ">
 
    <div class="view view-tenth">
        <% @campaigns_carousel.each do |campaign| %>
        <%= image_tag(campaign.image) %>

        <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
        <div class="mask">
            <h2><%= campaign.name %></h2>
            <p><%= campaign.intro %></p>
            <%= link_to "Firmar", campaign, :class => "info" %>
        </div>
    </div>





  <% end %>
  
    <div class="view view-tenth ">
        <% @campaigns_carousel.each do |campaign| %>
        <%= image_tag(campaign.image) %>

        <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
        <div class="mask">
            <h2><%= campaign.name %></h2>
            <p><%= campaign.intro %></p>
            <%= link_to "Firmar", campaign, :class => "info" %>
        </div>
    </div>




    
  <% end %>
 
    <div class="view view-tenth ">
        <% @campaigns_carousel.each do |campaign| %>
        <%= image_tag(campaign.image) %>

        <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
        <div class="mask">
            <h2><%= campaign.name %></h2>
            <p><%= campaign.intro %></p>
            <%= link_to "Firmar", campaign, :class => "info" %>
        </div>
    </div>
  </div>




    
  <% end %>

</div>

<div class="row-fluid">
    <div id="home-icons" class="offset1 span5">
      <a href="#"><img alt="Semi-footer-img1" src="/assets/semi-footer-img1.png"></a>
    </div>
    <div id="home-text" class="span6">
      <h2>Recogida de firmas</h2>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <h2>Mailing masivo</h2>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <h2>Fax</h2>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </div>
  </div>

