<% @page_title = t(:home) %>

<div class="carrousel c">
    <div class="carro">
        <div class='iosSlider'>
            <div class='slider'>
                <div class='item' id='item1'>
                    <div class='image'>
                        <div class='bg'></div>
                    </div>
                    <div class='text'>
                        <div class='bg'></div>
                        <div class='title'>
                            <span>Touch Me.</span>
                        </div>
                        <div class='desc'>
                            <span>Hardware accelerated using CSS3 for supported iOS, Android and WebKit</span>
                        </div>
                        <div class='button'>
                            <span>Firmar</span>
                        </div>
                    </div>
                </div>

                <div class='item' id='item2'>
                    <div class='image'>
                        <div class='bg'></div>
                    </div>
                    <div class='text'>
                        <div class='bg'></div>
                        <div class='title'>
                            <span>Open Source</span>
                        </div>
                        <div class='desc'>
                            <span>Si eres desarrollador y quieres participar apúntate en</span>
                        </div>
                        <div class='button'>
                            <span>Firmar</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='prevButton'></div>
            <div class='nextButton'></div>
            <div class='iosSliderButtons'>
                <div class='button'></div>
                <div class='button'></div>
            </div>
        </div>


        <div class="sidecarro">
            <i class="icon-bullhorn">campañas 33</i>
            <i class="icon-pencil">Firmas 1000</i>
            <i class=" icon-user">Usuarios 29</i>
            <i class=" icon-globe">Países 5</i>
        </div>
        <!-- sidecarro -->
    </div>
</div><!-- carrousel -->

<div class="welcome c">
    <div class="welinfo">
        <span class="circle"><i class="icon-lightbulb icon-2x"></i></span>
        Una herramienta de movilización ciudadana a través de la red, <a href="">crea tu propia campaña</a>
    </div><!-- welinfo -->
    <div class="welinfo">
        <span class="circle"><i class="icon-hand-right icon-2x"></i> </span>
        Una herramienta de presión social abierta, horizontal y transparente.
    </div><!-- welinfo -->
</div><!-- welcome -->

<div class="campaing c">
    <ul class="photo">
        <% @campaigns_carousel.each do |campaign| %>
          <li>
              <div class="view view-tenth">
                  <%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">

                      <div id="izquierda" >
                          <h4><%= link_to campaign.name, campaign %></h4>
                      </div>

                      <div id="derecha">
                          <%= link_to(campaign) do %>
                            <div id="avatar">
                                <img src="https://secure.gravatar.com/avatar/f33f470a3e2dfa3087feee286021d96f.png?s=48&d=mm" alt="creador de campaña"/>
                                <h4>Antonio Pardo</h4>
                            </div>
                          <% end %>
                      </div>

                  </div><!-- carousel-caption -->

                  <div class="mask">
                      <h4><%= campaign.name %></h4>
                      <p><%= campaign.intro %></p>
                      <%= link_to 'Firmar campaña', campaign %>
                  </div>

              </div>
          </li>
        <% end %>
    </ul>
</div><!-- campaing -->

<div class="entra c">
    <div class="smsentra">
        Crea tus campañas,firma, actúa, y compartela con tus redes.
        <p class="min">No odies al lobby, ¡cómetelo!</p>

    </div><!-- smsentra -->

    <div class="buttonentra">
        <i  class="icon-share-alt icon-3x"></i>

        <input type="button" name="" value="Crear campaña" class="btn"></input>

    </div><!-- button -->
</div><!-- entra -->

<div class="topfooter">
    <div class="cthreecolumns c">
        <div class="threecolumns">
            <span><i class="icon-pencil"></i></span>
            <h3>Recogida de firmas</h3>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
        </div><!-- threecolumns -->
        <div class="threecolumns">
            <span><i class="icon-envelope"></i></span>
            <h3>Mailing</h3>
            <p>Sed euismod volutpat lorem, id varius lorem blandit in. Nunc non tortor risus. Quisque vitae ligula quis odio malesuada aliquet. Etiam tempor ipsum in tortor semper rhoncus. Nullam laoreet molestie elit, a accumsan velit aliquam nec. </p>
        </div><!-- threecolumns -->
        <div class="threecolumns">
            <span><i class="icon-print"></i></span>
            <h3>Envío de fax</h3>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
        </div><!-- threecolumns -->
        <div class="threecolumns">
            <span><i class="icon-mobile-phone"></i></span>
            <h3>Telefonía</h3>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
        </div><!-- threecolumns -->
    </div><!-- cthreecolumns -->
</div><!-- topfooter -->
