<% @page_title = t(:home) %>
<div class="carro row-fluid">
  <div class='iosSlider span8'>
    <div class='slider'>
      <div class='item' id='item4'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_1_title" %></span>
          </div>
          <div class="desc">
            <span><%= t "oigame.home.slideshow.slide_1_body" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item1'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_2_title" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item2'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_3_title" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item3'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_4_title" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item5'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_5_title" %></span>
          </div>
        </div>
      </div>
    </div>
    <div class='prevButton'></div>
    <div class='nextButton'></div>
    <div class='iosSliderButtons'>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
    </div>
  </div> <!-- iosSlider -->


  <div class="sidecarro span3 visible-desktop">
    <ul>
      <% @tweets.each do |t| %>
        <i style="margin-left: -25px; font-size: .9em; width: 90%;"><%= t.msg %></i>
      <% end %>
    </ul>
    <!--
    <i class="icon-bullhorn">&nbsp;<%= t "oigame.home.stats.campaigns" %> <%= @total_published_campaigns %></i>
    <i class="icon-pencil">&nbsp;<%= t "oigame.home.stats.signatures" %> <%= @total_signs %></i>
    <i class="icon-user">&nbsp;<%= t "oigame.home.stats.people" %> <%= @total_users %></i>
-->
  </div>
  <!-- sidecarro -->
</div>
</div><!-- carrousel -->

<div class="welcome welchi c row-fluid">
  <div class="welinfo span6">
    <span class="circle"><i class="icon-lightbulb icon-2x"></i></span>
    <%= t("oigame.home.welcome.welinfo_1_html", :href => link_to(t("oigame.home.welcome.welinfo_1_link"), new_campaign_path) ) %>
  </div><!-- welinfo -->
  <div class="welinfo span6">
    <span class="circle"><i class="icon-hand-right icon-2x"></i> </span>
    <%= t "oigame.home.welcome.welinfo_2_html" %>
  </div><!-- welinfo -->
</div><!-- welcome -->

<div class="container-fluid">

  <div class="row-fluid">
    <div class="thumbnails">
      <% @campaigns_carousel.each do |campaign| %>
        <%= render :partial => "campaigns/campaign", :locals => {:campaign => campaign } %>
      <% end %>
    </div>
  </div>

</div><!-- campaing -->
<div class="c row-fluid">
  <div class="entra span12">
    <div class="smsentra">
      <%= t "oigame.home.slogan_1" %>
      <p class="min"><%= t "oigame.home.slogan_2" %></p>

    </div><!-- smsentra -->

    <div class="buttonentra">
      <i  class="icon-share-alt icon-3x"></i>
      <%= link_to( t("oigame.home.create_campaign"), new_campaign_path, :class => "btn" ) %>
    </div><!-- buttonentra -->

  </div><!-- entra -->
</div>

