<% @page_title = t(:home) %>

<div class="row-fluid">
  
<div class="span12">

      <div class="span5 offset1 people">  
        <ul class="pull-left">
           <li><%= image_tag("altavozpk.png") %> <label><%= @total_published_campaigns %> <%= t(:campaigns) %></label></li>
           <li ><%= image_tag("firma.png") %> <label><%= @total_signs %> <%= t(:firms) %></label></li>
           <li><%= image_tag("usuario.png") %> <label><%= @total_users %> <%= t(:users) %></label></li>
           <li><%= image_tag("world.png") %> <label>2 <%= t(:countries) %></label></li>
        </ul>
      </div>
      <div class="span5" id="navcampana"> 
        <ul class="">
          <li><a href="#"><%= image_tag("calientes.png") %>calientes </a></li>
          <li><a href="#"><%= image_tag("ultimas.png") %>últimas</a></li> <li><a href="#"><%= image_tag("geografica.png") %>país</a></li><li><a href="#"><%= image_tag("social.png") %>social</a></li>
           <li><a href="#"><%= image_tag("propias.png") %>propias</a></li>     
              
           <li><a href="#"><%= image_tag("tipologia.png") %>tipología</a></li> 
           <li><a href="#"><%= image_tag("activista.png") %>activista</a></li> 
                 
       </ul>
      </div>


 
        
    </div>
     <div id="myCarousel" class="span10 offset1 carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">

        <% @campaigns_carousel.each do |campaign| %>
          <% if campaign == @campaigns_carousel.first %>
            <div class="active item"><%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">
                      <div id="izquierda" class="span8">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
            </div>
          <% else %>
            <div class="item"><%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">
                      <div id="izquierda" class="span6">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
            </div>
          <% end %>
        <% end %>
        
        
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>



    </div>   


  
</div> <!--/.row-fluid-->
  
 <div class="span12 hidden-phone" id="claim">
    <div class="span5 offset1">
       
      <i class="icon-lightbulb icon-3x circle"></i>
         <h4>Una herramienta de presión social abierta, horizontal y transparente. 
          </h4>
    </div>
    <div class="span5">
      <i class="icon-hand-right icon-3x circle"></i>
         
         <h4> Firma y actúa, comparte con tus amigos y compañeros  y haz llegar tu queja al resto del planeta 
          </h4>
    </div>
   
  </div>



<div class="main">
  <div class="span11 offset1 ">
 
    <div class="view view-tenth span3">
        <% @campaigns_carousel.each do |campaign| %>
        <%= image_tag(campaign.image) %>

        <div class="carousel-caption ">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
        <div class="mask">
            <h2><%= campaign.name %></h2>
            <p><%= campaign.intro %></p>
            <%= link_to "Firmar", campaign, :class => "info" %>
        </div>
    </div>





  <% end %>
  
    <div class="view view-tenth span3">
        <% @campaigns_carousel.each do |campaign| %>
        <%= image_tag(campaign.image) %>

        <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
        <div class="mask">
            <h2><%= campaign.name %></h2>
            <p><%= campaign.intro %></p>
            <%= link_to "Firmar", campaign, :class => "info" %>
        </div>
    </div>




    
  <% end %>
 
    <div class="view view-tenth span3">
        <% @campaigns_carousel.each do |campaign| %>
        <%= image_tag(campaign.image) %>

        <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span2">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
        <div class="mask">
            <h2><%= campaign.name %></h2>
            <p><%= campaign.intro %></p>
            <%= link_to "Firmar", campaign, :class => "info" %>
        </div>
    </div>
  </div>




    
  <% end %>

</div>

<div class="span11 offset1" id="crea">
<h4>Crea tu campaña y súmate al cambio</h4>
<button class="btn btn-large offset2" type="button">Crea tu Campaña</button>
</div>  

<div class="row-fluid">
  
    <div id="home-text" class="span12 row-fluid ">
      <div class="span3">
      <i class="icon-pencil icon-4x offset4"></i>  
        
      <h3>Recogida de firmas</h3>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      </div>

      <div class="span3">
       <i class="icon-envelope icon-4x offset4"></i> 
      <h3>Mailing</h3>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      </div>

      <div class="span3">
      <i class="icon-print icon-4x offset4"></i>
      <h3>Fax</h3>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      </div>
      <div class="span3">
      <i class="icon-mobile-phone icon-4x offset5"></i>
      <h3>Telefonía</h3>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      </div>

    </div>

  </div>

