<% @page_title = t(:home) %>

<div id="subscribe-wrapper">
  <div id="subscribe">
    <div id="subscribe-img">
      <%= image_tag("home-subscribe.jpg") %>
    </div>
    <div id="subscribe-form">
      <p class="msg">NO ODIES AL<br />
      LOBBY, ¡CÓMETELO!</p>
      <p class="user-count"><%= @users %> PERSONAS</p>
      <p class="do-it">YA LO HAN HECHO</p>
      <% unless user_signed_in? %>
        <br >
        <br />
        <form id="pre-signup" action="/users/signup" method="get">
          <div class="input-prepend">
            <span class="add-on">@</span>
            <input type="email" name="email" placeholder="Tu correo electrónico" required="true" />
          </div>
          <button type="submit" class="primary btn large">Hazte miembro ahora</button>
        </form>
      <% end %>
    </div>
  </div>
</div><!-- subscribe-wrapper -->
<div id="home-info-wrapper">
  &nbsp;
  <div id="home-info">
    <div id="campaigns-slideshow" class="slider-wrapper theme-default">
      <h2>Última campañas</h2>
      <div id="slider" class="nivoSlider">
        <% @campaigns.each do |campaign| %>
          <%= link_to image_tag(campaign.image_url(:home), :title => campaign.name, :alt => campaign.name), campaign %>
        <% end %>
      </div>
      <% @campaigns.each do |campaign| %>
        <div id="<%= campaign.name %>" class="nivo-html-caption">
          <%= link_to campaign.name, campaign %>
        </div>
      <% end %>
    </div><!-- campaigns-slideshow -->
    <div id="whats-oigame">
      <h2>¿Qué es oiga.me?</h2>
      <p><strong>oiga.me</strong> es una plataforma de acción y movilización ciudadana, una herramienta de democracia participativa a través de sistemas web y correo electrónico para colectivos, entidades o asociaciones que desean ser escuchados. oiga.me multiplica la potencia de miles de pequeños esfuerzos individuales en una poderosa fuerza colectiva. Es, además, un altavoz tecnológico que sirve a personas y organizaciones para hacer oír su voz y constituirse en agente activo en la vida política y social.</p>
      <br />
      <p>oiga.me pone a disposición de las asociaciones y colectivos las herramientas necesarias para responder al aislamiento, pedir responsabilidades políticas, y participar en acciones eficaces e innovadoras sobre asuntos importantes de nuestro pais. Se trata, en resumen, de devolver la participación a la democracia.</p>
    </div>
    <!--
    <div id="activity-realtime">
      <h2>Actividad reciente</h2>
      <ul>
        <li>
          <div class="timestamp">5 minutes ago</div>
          <div class="activity">
            <span class="login">apardo</span>
            se ha unido a la campaña:
            <a href="#">No mas desalojos</a>.
          </div>
        </li>
        <li>
          <div class="timestamp">5 minutes ago</div>
          <div class="activity">
            <span class="login">apardo</span>
            se ha unido a la campaña:
            <a href="#">No mas desalojos</a>.
          </div>
        </li>
        <li>
          <div class="timestamp">5 minutes ago</div>
          <div class="activity">
            <span class="login">apardo</span>
            se ha unido a la campaña:
            <a href="#">No mas desalojos</a>.
          </div>
        </li>
        <li>
          <div class="timestamp">5 minutes ago</div>
          <div class="activity">
            <span class="login">apardo</span>
            se ha unido a la campaña:
            <a href="#">No mas desalojos</a>.
          </div>
        </li>
        <li>
          <div class="timestamp">5 minutes ago</div>
          <div class="activity">
            <span class="login">apardo</span>
            se ha unido a la campaña:
            <a href="#">No mas desalojos</a>.
          </div>
        </li>
        <li>
          <div class="timestamp">5 minutes ago</div>
          <div class="activity">
            <span class="login">apardo</span>
            se ha unido a la campaña:
            <a href="#">No mas desalojos</a>.
          </div>
        </li>
      </ul>
    </div>
    -->
  </div>
  &nbsp;
</div><!-- home-info-wrapper -->
