<% @page_title = t(:home) %>

<div id="subscribe-wrapper">
  <div id="subscribe">
    <div id="subscribe-img">
      <%= image_tag("home-subscribe-3.jpg", :width => 462, :height => 359) %>
    </div>
    <div id="subscribe-form">
      <p class="msg">NO ODIES AL<br />
      LOBBY, ¡CÓMETELO!</p>
      <p class="user-count">CIENTOS DE PERSONAS</p>
      <p class="do-it">YA LO HAN HECHO</p>
      <% if user_signed_in? %>
        <br >
        <br />
        <%= link_to "Ver todas las campañas", campaigns_path, :class => "btn primary large" %>
        <%= link_to t(:propose_campaign), new_campaign_path, :class => "btn primary large", :style => "margin-left:2em" %>
      <% else %>
        <br >
        <br />
        <form id="pre-signup" action="/users/signup" method="get">
          <input type="email" name="email" placeholder="tunombre@dominio.com" required="true" />
          <button type="submit" class="primary btn large">Hazte miembro ahora</button>
        </form>
      <% end %>
    </div>
  </div>
  <div id="simple-slideshow-wrapper">
    <div id="simpleSlide-slideshow">
      <div class="left-button" rel="1"></div>
      <div class="simpleSlide-window" rel="1">
        <div class="simpleSlide-tray" rel="1">
            <div class="simpleSlide-slide" rel="1" alt="1">
              <div> Plataforma de movilización ciudadana a través de la web </div>
            </div>
            <div class="simpleSlide-slide" rel="1" alt="2">
              <div> Un altavoz para que los poderosos te escuchen </div>
            </div>
            <div class="simpleSlide-slide" rel="1" alt="3">
              <div> Crea el lobby más importante del mundo. Somos el 99% </div>
            </div>
            <div class="simpleSlide-slide" rel="1" alt="4">
              <div> ¿Crees que puedes cambiar el mundo? ¡Hazlo!  </div>
            </div>
            <div class="simpleSlide-slide" rel="1" alt="5">
              <div> Somos el 99%, juntos cambiamos el mundo </div>
            </div>
            <div class="simpleSlide-slide" rel="1" alt="6">
              <div> Lo consiguieron porque no sabían que era imposible </div>
            </div>
            <div class="simpleSlide-slide" rel="1" alt="7">
              <div> Te queremos, ¡únete!  </div>
            </div>
        </div><!-- simpleSlide-tray -->
      </div><!-- simpleSlide-window -->
      <div class="right-button" rel="1"></div>
    </div> <!-- slideshow -->
    <div class="auto-slider" rel="1"></div>
  </div><!-- simple-slideshow-wrapper -->
</div><!-- subscribe-wrapper -->
<div id="home-info-wrapper">
  &nbsp;
  <div id="home-info">
    <div id="sayit">
      <h2>Dilo</h2>
      <p>Que se escuche tu voz. <strong>oiga.me</strong> es una plataforma en la que puedes montar campañas online en las que el mundo entero puede participar.</p>
      <p><strong><%= link_to '> Aprende a usar oiga.me', answers_path %></strong></p>
      <%= link_to image_tag('sayit.jpg'), answers_path %>
    </div>
    <div id="repeat">
      <h2>Repítelo</h2>
      <p>Súmate a la protesta, úne tu voz a las otras. Participa enviando millones de correos de forma efectiva, sin que te filtren, sin que puedan taparse los oídos.</p>
      <p><strong><%= link_to '> Últimas campañas', campaigns_path %></strong></p>
      <%= link_to image_tag('repeat.jpg'), campaigns_path %>
    </div>
    <div id="doit">
      <h2>Hazlo posible</h2>
      <p>Haz posible que en <strong>oiga.me</strong> podamos hacer campañas de miles de llamadas de teléfono a los poderosos, que podamos enviar cientos de faxes. Mejora, dona, difunde, escribe código.</p>
      <p><strong><%= link_to '> Infórmate como donar', donate_path %></strong></p>
      <%= link_to image_tag('doit.jpg'), donate_path %>
    </div>
  </div><!-- home-info -->
  <div id="campaigns-info">
    <div id="last-campaigns-ribbon">últimas campañas</div>
    <% @campaigns.each do |campaign| %>
      <div class="campaign-home-detail">
        <h2><%= campaign.name %></h2>
        <% if campaign.image.to_s %>
          <%= link_to image_tag(campaign.image_url(:home)), campaign %>
        <% end %>
        <%= campaign.to_html(truncate(campaign.intro, :length => 225)).html_safe %>
        <p><strong><%= link_to '> Únete a esta campaña', campaign %></strong><br /><%= campaign.messages.count %> personas ya lo han hecho</p>
      </div><!-- campaign-home-detail -->
    <% end %>
  </div><!-- campaigns-info -->
</div><!-- home-info-wrapper -->
