<% @page_title = t(:home) %>
<div class="carro" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class='iosSlider'>
    <div class='slider'>
      <div class='item' id='item4'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_1_title" %></span>
          </div>
          <div class="desc">
            <span><%= t "oigame.home.slideshow.slide_1_body" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item1'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_2_title" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item2'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_3_title" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item3'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_4_title" %></span>
          </div>
        </div>
      </div>

      <div class='item' id='item5'>
        <div class='image'>
          <div class='bg'></div>
        </div>
        <div class='text'>
          <div class='bg'></div>
          <div class='title'>
            <span><%= t "oigame.home.slideshow.slide_5_title" %></span>
          </div>
        </div>
      </div>
     </div>
    <div class='prevButton'></div>
    <div class='nextButton'></div>
    <div class='iosSliderButtons'>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
      <div class='button'></div>
    </div>
  </div>


  <div class="sidecarro">
    <i class="icon-bullhorn"><%= t "oigame.home.stats.campaigns" %> 33</i>
    <i class="icon-pencil"><%= t "oigame.home.stats.signatures" %> 1000</i>
    <i class="icon-user"><%= t "oigame.home.stats.users" %> 29</i>
    <i class="icon-globe"><%= t "oigame.home.stats.countries" %> 5</i>
  </div>
  <!-- sidecarro -->
</div>
</div><!-- carrousel -->

<div class="welcome welchi c">
  <div class="welinfo">
    <span class="circle"><i class="icon-lightbulb icon-2x"></i></span>
    <%= t("oigame.home.welcome.welinfo_1_html", :href => link_to(t("oigame.home.welcome.welinfo_1_link"), new_campaign_path) ) %>
  </div><!-- welinfo -->
  <div class="welinfo">
    <span class="circle"><i class="icon-hand-right icon-2x"></i> </span>
    <%= t "oigame.home.welcome.welinfo_2_html" %>
  </div><!-- welinfo -->
</div><!-- welcome -->

<div class="campaing c">
  <ul class="photo">
    <% @campaigns_carousel.each do |campaign| %>
      <li>
        <a href="<%= campaign_path(campaign) %>">
        <div class="campa-home">
    <%= image_tag(campaign.image_url(:home)) %>
    <div class="campa-texto">
      <div class="campa-texto-left">
      <%= link_to campaign.name, campaign %>
      </div><!-- left -->
      <div class="campa-texto-right">
      <img src="<%= avatar_url(campaign.user.email) %>" alt="<%= t "oigame.campaigns.creator_of_campaign" %>"/>
      </div><!-- left -->
    </div><!-- campa-texto -->
  </a>
      </li>
    <% end %>
  </ul>
</div><!-- campaing -->
<div class="c">
  <div class="entra">
    <div class="smsentra">
      <%= t "oigame.home.slogan_1" %>
      <p class="min"><%= t "oigame.home.slogan_2" %></p>

    </div><!-- smsentra -->

    <div class="buttonentra">
      <i  class="icon-share-alt icon-3x"></i>

      <%= link_to( t("oigame.home.create_campaign"), new_campaign_path, :class => "btn" ) %>

    </div><!-- button -->
  </div><!-- entra -->
</div>

