<% @page_title = t(:login) %>
<% @header_top = t(:login) %>

<div id="row-fluid">

    <%= render :partial => "devise/shared/links" %>

    <div id="login-form" class="form-stacked span7">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
          <fieldset>
              <legend><%= @page_title %></legend>
              <div class="control-group">
                  <%= f.label t(:email), :class => 'control-label' %>
                  <div class="controls">
                      <%= f.email_field :email, :required => true %>
                  </div>
              </div>
              <div class="control-group">
                  <%= f.label t(:password), :class => 'control-label' %>
                  <div class="controls">
                      <%= f.password_field :password %>
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <%= f.check_box :remember_me %> <span class="note"><%= t(:remember_me) %></span>
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <%= f.submit @page_title, :class => 'btn btn-inverse primary' %>
                  </div>
              </div>
          </fieldset>
        <% end %>
    </div>
</div>
</div>
