<p><%= t(:hi) %> <%= @message_to %>,</p>

<p><%= t(:inform_new_comment, :campaign_name => @campaign_name) %></p>

<p>
  <a href="<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign_slug %>"><%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign_slug %></a>
</p>

<p><%= t(:thanks_for_participating) %></p>
