<p><%= t(:hi) %> <%= @message_to %>,</p>

<p><%= t(:inform_campaign_activate, :campaign_name => @campaign_name) %></p>

<a href="<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign_slug %>"><%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign_slug %></a>

<p><%= t(:thanks_for_participating) %></p>
