<p><%= t(:hi) %> <%= @campaign.user.email %>,</p>

<p>la campaña <a href="<%= APP_CONFIG[:domain] %>/es/campaigns/<%= @campaign.slug %>"><%= @campaign.name %></a> que lanzaste en oiga.me no puede seguir enviando faxes porque no le queda crédito. Este correo es solamente un aviso para que estés informado y puedas buscar apoyos/donantes.</a>

Saludos del equipo de oiga.me
