<p>Hola, se ha creado una campaña nueva en tu SubOigame <%= @sub_oigame.name %> con el nombre: "<%= @campaign.name %>". Por el momento se encuentra moderada por lo que todavía no es pública. Puedes revisarla y valorarla, si te parece muy interesante puedes activarla.</p>

<p>A continuación tienes la información de la campaña:</p>

<h1><%= link_to @campaign.name, sub_oigame_campaign_path(@sub_oigame, @campaign) %></h1>

<%= @campaign.to_html(@campaign.intro).html_safe %>

<%= @campaign.to_html(@campaign.body).html_safe %>

