<p><%= t(:inform_campaign_sub_admin, :sub_name => @sub_oigame.name, :campaign_name => @campaign.name) %> </p>

<p> <%= t(:next_you_have_info) %> </p>

<h1><%= link_to @campaign.name, sub_oigame_campaign_url(@sub_oigame, @campaign) %></h1>

<%= @campaign.to_html(@campaign.intro).html_safe %>

<%= @campaign.to_html(@campaign.body).html_safe %>

