<h1><%= @campaign.name %></h1>

<p>Para terminar el proceso de adhesión a la campaña '<%= @campaign.name %>' te pedimos que envies tú mismo el mensaje a los destinatarios de la campaña haciendo click en el siguiente enlace:</p>

<h2><a href="mailto:<%= @message_to %>?bcc=<%= @campaign.recipients_for_message %>&subject=<%= @message_subject %>&body=<%= @message_body %>">Terminar el proceso</a></h2>

<p>Es muy importante difundir la campaña, por lo que te animamos a ser el centro de la acción:</p>

<p>Incluye la campaña en tu página web para que tus visitas puedan participar: <a href="<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign.slug %>"><%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign.slug %></a>. Es muy sencillo, tardarás menos de 1 minuto.</p>

<p>Difunde al máximo la campaña en las redes sociales.</p>

<p>Sigue a <a href="http://twitter.com/oigame">@oiga.me</a> en Twitter y en <a href="http://www.facebook.com/oiga.me">Facebook</a>.</p>

<p>oiga.me es un proyecto de la asociación <a href="http://alabs.es/">aLabs</a>. Como asociación sin ánimo de lucro, aLabs destina todas las donaciones que recibe para oiga.me a mejorar la plataforma y añadir funcionalidades que permitan facilitar la participación de la ciudadanía en la vida política y los asuntos que nos importan. Puedes contribuir a mantener de manera colaborativa <a href="<%= APP_CONFIG[:domain] %>/donate">donando al proyecto</a>.</p>

<p>Graciar por participar en oiga.me.</p>
