<h1><%= t(:mail_validate_1, :campaign_name => @campaign.name) %></h1>

<p><%= t(:mail_validate_2, :campaign_name => @campaign.name) %></p>

<h2><a href="<%= @url %>/validate/<%= @token %>"><%= @url %>/validate/<%= @token %></a></h2>

<p><%= t(:mail_validate_3) %></p>

<% if @sub_oigame and @sub_oigame.mail_message %>
  <%= raw(@sub_oigame.mail_message.gsub(/\n/, '<br>')) %>
<% end %>

<p><%= t(:mail_validate_4) %></p>

<p><%= t(:mail_validate_5, :url => @url) %></p>

<p><%= t(:mail_validate_6) %></p>

<p><%= t(:follow, :oigame_twitter => '<a href="http://twitter.com/oigame">@oigame</a>', :oigame_facebook => '<a href="http://www.facebook.com/oiga.me">Facebook</a>') %></p>

<% if @sub_oigame.nil? %>
  <p> <%= t(:mail_validate_8, :url_donate => "<a href='#{ APP_CONFIG[:domain] }/donate'>donando al proyecto</a>", :url_alabs => "<a href='http://alabs.es/'>aLabs</a>" ) %> </p>
<% end %>

<p><%= t(:thanks_for_participating) %></p>
