<dl class="dl-horizontal">
  <dt><%= t(:created_by) %></dt>
  <dd id="show-modal-add-friend-profile">
    <%= link_to image_tag(avatar_url(campaign.user.email), :class => 'creada', :alt => campaign.user.name), profile_path(campaign.user) %>
    <% if campaign.user.name %>
      <%= link_to campaign.user.name, profile_path(campaign.user) %>
    <% else %>
      <%= link_to campaign.user.id, profile_path(campaign.user) %>
    <% end %>
  </dd>
  <% if campaign.ttype == "fax" %>
    <dt><%= t(:credits) %></dt>
    <dd>
    <%= campaign.credit.to_i %> (<%= link_to t(:add_credit),add_credit_campaign_path %>)
    </dd>
  <% end %>
  <dt><%= t(:published_at) %></dt>
  <dd>
    <% if campaign.published? %>
      <%= time_ago_in_words(campaign.published_at) %>
    <% else %>
      <%= time_ago_in_words(campaign.created_at) %>
    <% end %>
  </dd>
  <% days_left = (campaign.duedate_at - Time.now).round / 60 / 60 / 24 %>
  <% if days_left > 0 %>
    <dt><%= t(:time_left) %></dt>
    <dd><%= days_left %> <%= t(:days) %></dd>
  <% end %>
  <dt><%= t(:type) %></dt>
  <dd><i class="<%= campaign.ttype_img %>"></i> <%= campaign.ttype_name %> </dd>
  <% if campaign.hashtag? %>
    <dt>Hashtag</dt>
    <dd><i class="icon-twitter"></i> <a target="_blank" href="https://twitter.com/search?q=%23<%= campaign.hashtag %>&src=hash" id="js-campaign-hashtag">#<%= campaign.hashtag %></a> </dd>
  <% end %>
  </dt>

