<h2 class="jtc">Comunica</h2>
<ul id="social-buttons">
   <li> 
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign.slug %>" data-send="false" data-layout="box_count" data-width="50" data-show-faces="true" data-font="verdana" data-action="recommend"></div>
    </li>
    <li>
      <g:plusone size="tall" href="<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign.slug %>"></g:plusone>
    </li>
    <li>
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= @campaign.name %>" data-count="vertical" data-via="oigame" data-related="alabs_es" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </li>
    <li>
      <div id="identishare" style="vertical-align: bottom;"></div>
      <script type="text/javascript" src="http://www.tildehash.com/identishare.php?style2" defer="defer"></script> 
    </li>
    <div class="clear"></div>
</ul><!-- social-buttons -->
