
<div class="alert alert-info alert-campaign">
  <p>
    <b><%= t('oigame.wizard.intro_line_1') %></b>
    <%= t('oigame.wizard.intro_line_2') %>
  </p>

  <ul class="unstyled">
    <li><%= t('oigame.wizard.intro_line_3') %>
    <li><%= t('oigame.wizard.intro_line_4') %>
    <li><%= t('oigame.wizard.intro_line_5') %>
  </ul>
</div>

<ol class="progtrckr" data-progtrckr-steps="3">
    <li class="progtrckr-todo"><%= t(:step_1) %></li>
    <li class="progtrckr-todo"><%= t(:step_2) %></li>
    <li class="progtrckr-todo"><%= t(:step_3) %></li>
</ol>

<%= form_for @campaign, :url => url_for_campaign_form do |f| %>
  <fieldset>
    <legend><%= t(:please_fill_the_form) %></legend>
    <div class="control-group">
      <%= f.label :name, t(:name_of_campaign), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'span6', :required => true, :placeholder => t(:name_of_campaign), :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.name_help'), 'data-original-title' => t(:name_of_campaign), :maxlength => 256 %>
        <% unless @campaign.errors[:name].blank? %>
          <span class="error_message"><%= @campaign.errors[:name].to_sentence %></span>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :hashtag, t(:hashtag_of_campaign), :class => 'control-label' %>
      <div class="controls input-prepend">
        <span class="add-on">#</span>
        <%= f.text_field :ht, :class => 'span6', :placeholder => t(:hashtag), :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.hashtag_help'), 'data-original-title' => t(:hashtag_of_campaign) %>
      </div>
    </div>
    <div id="control-group">
      <div class="controls">
        <%= f.submit t(:next_step), :class => 'btn btn-inverse' %>
      </div>
    </div>
  </fieldset>
<% end %>
