<%# si no obtiene el @sub_oigame lo hace al general (/campaigns) %>
<%= form_for @campaign, :url => url_for(:action=>"create", :controller=> "campaigns", :sub_oigame_id => @sub_oigame), :html => {:multipart => true} do |f| %>
  <fieldset>
    <legend><%= t(:please_fill_the_form) %></legend>
    <div class="form-field">
      <%= f.label t(:name_of_campaign) %>
      <%= f.text_field :name, :class => 'span8', :required => true, :placeholder => 'Título de la campaña' %>
      <% unless @campaign.errors[:name].blank? %>
        <span class="error_message"><%= @campaign.errors[:name].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label t(:image_of_campaign) %>
      <%= f.file_field :image, :class => 'input-file' %>
      <% unless @campaign.errors[:image].blank? %>
        <span class="error_message"><%= @campaign.errors[:image].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label t(:intro_of_campaign) %>
      <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        <%= f.text_area :intro, :class => 'wmd-input', :id => 'wmd-input', :rows => 6, :class => 'span8', :required => true, :placeholder => 'Entradilla de la campaña, este texto aparece en el listado de campañas.' %>
      </div>
      <a href="#" class="show_markdown_help">ver ayuda de marcado</a>
      <div class="markdown_help" style="display:none;">
        <%= render :partial => 'markdown_help' %>
      </div>
      <% unless @campaign.errors[:intro].blank? %>
        <span class="error_message"><%= @campaign.errors[:intro].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label t(:body_of_campaign) %>
      <div class="wmd-panel">
        <div id="wmd-button-bar-second"></div>
        <%= f.text_area :body, :class => 'wmd-input', :id => 'wmd-input-second', :rows => 10, :class => 'span8', :required => true, :placeholder => 'Texto desarrollado de la campaña' %>
      </div>
      <a href="#" class="show_markdown_help">ver ayuda de marcado</a>
      <div class="markdown_help" style="display:none;">
        <%= render :partial => 'markdown_help' %>
      </div>
      <% unless @campaign.errors[:body].blank? %>
        <span class="error_message"><%= @campaign.errors[:body].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label t(:type_of_campaign) %>
      <%= select(:campaign, :ttype, Campaign::TYPES.select {|k,v| [k,v]}.invert, {:prompt => 'Selecciona tipo de campaña'}) %>
    </div>
    <div id="crecipients" class="form-field hide">
      <%= f.label t(:recipients) %>
      <%= f.text_area :recipients, :rows => 10, :class => 'span8', :required => true, :placeholder => 'Lista de direcciones de correo de destinatarios, una por línea.' %>
    </div>
    <div class="form-field">
      <%= f.label 'Número de personas que piensas que se unirán a la campaña' %>
      <%= f.text_field :target, :class => 'span8', :placeholder => 'Número de personas que piensas que se unirán' %>
    </div>
    <div class="form-field">
      <%= f.label t(:due_date_of_campaign) %>
      <%= f.text_field :duedate_at, :required => true %>
      <% unless @campaign.errors[:duedate_at].blank? %>
        <br />
        <span class="error_message"><%= @campaign.errors[:duedate_at].to_sentence %></span>
      <% end %>
    </div>
    <div class="form-field">
      <%= f.label t(:tags) %>
      <%= f.text_field :tag_list, :class => 'span8', :placeholder => 'Lista de etiquetas separadas por comas' %>
    </div>
    <div id="form-actions">
      <%= f.submit @page_title, :class => 'btn primary' %>
    </div>
  </fieldset>
<% end %>
