<%# si no obtiene el @sub_oigame lo hace al general (/campaigns) %>

<% if params[:action] == "new" %>
  <% if @sub_oigame %>
    <% url = url_for(:action=> "create", :controller=> "campaigns", :sub_oigame_id => @sub_oigame) %>
  <% else %>
    <% url = url_for(:action=> "create", :controller=> "campaigns") %>
  <% end %>
<% end %>

<% if params[:action] == "edit" %>
  <% if @sub_oigame %>
    <% url = sub_oigame_campaign_path(@sub_oigame, @campaign) %>
  <% else %>
    <% url = campaign_path(@campaign) %>
  <% end %>
<% end %>

<%= form_for @campaign do |f| %>
  <fieldset>
    <legend><%= t(:please_fill_the_form) %></legend>
    <div class="form-field">
      <%= f.label :name, t(:name_of_campaign) %>
      <%= f.text_field :name, :class => 'span6', :required => true, :placeholder => t(:name_of_campaign) %>
      <% unless @campaign.errors[:name].blank? %>
        <span class="error_message"><%= @campaign.errors[:name].to_sentence %></span>
      <% end %>
    </div>
    <div id="form-actions">
      <%= f.submit 'Siguiente paso', :class => 'btn btn-primary btn-large' %>
    </div>
  </fieldset>
<% end %>
