<div id="campaigns-wrapper">
  <div id="list-campaigns">
    <div id="list-campaigns-info">
      <h2><%= @page_title %></h2>
      <% @campaigns.each do |campaign| %>
        <div class="campaign-info">
          <h3><%= link_to campaign.name, campaign %></h3>
          <div class="cinfo">
            <div class="campaign-image">
              <% if campaign.image.to_s %>
                <%= link_to image_tag(campaign.image_url(:thumb)), campaign %>
              <% end %>
              <p>
                <%= link_to t(:join_this_campaign), campaign %><br />
                <% if campaign.messages.count == 1 %>
                  <strong><%= campaign.messages.count %></strong> persona ya lo ha hecho<br />
                <% else %>
                  <strong><%= campaign.messages.count %></strong> personas ya lo han hecho<br />
                <% end %>
                Creada hace <%= time_ago_in_words(campaign.created_at) %>
              </p>
            </div>
            <div class="campaign-text">
              <%= campaign.to_html(campaign.intro).html_safe %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>
    </div><!-- list-campaigns-info -->
    <div id="list-campaigns-sidebar">
      <h2 style="font-size: 2em;"><%= link_to t(:propose_campaign), new_campaign_path %></h2>
      <% if can? :moderated, Campaign %>
        <h2 style="font-size: 2em;"><%= link_to t(:moderate_campaigns), moderated_campaigns_path %></h2>
      <% end %>
      <br /><br />
      <h2>Etiquetas más usadas</h2>
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
      <% end %>
    </div><!-- list-campaigns-sidebar -->
  </div><!-- list-campaigns -->
</div><!-- campaigns-wrapper -->
