
<div class="">
  
<div id="page-wrapper">

<div class="campaign-infolist">
        <div class="">
        <h2><i class="icon-time"></i><%= @page_title %></h2>
        <hr class="dashed">
        </div>

    <% if @campaigns.count > 0 %>      

        <% @campaigns.each do |campaign| %>
          <div class="mostrar-campaign">
          <%= render :partial => "show_campaign", :locals => { :sub_oigame => @sub_oigame, :campaign => campaign } %>
        </div>


        <% end %>
        <div class="center">
          <%= will_paginate(@campaigns, :renderer => BootstrapPagination::Rails) %>
        </div>

      </div><!-- list-campaigns-info -->
    <% else %>
      <div id="list-campaigns-info">
        <h2><%= t(:no_campaigns) %></h2>
      </div>
    <% end %>
 <div class="">

        <div class="" >
          <div class="btn-group" >
            <% if @sub_oigame %>
              <%= link_to t(:propose_campaign), new_sub_oigame_campaign_path(@sub_oigame), :class => "btn" %>
              <%= link_to t(:archived_campaigns), archived_sub_oigame_campaigns_path(@sub_oigame), :class => "btn" %>
              <% permitted_to? :moderated, Campaign.new do %>
                <%= link_to t(:moderate_campaigns), moderated_sub_oigame_campaigns_path(@sub_oigame), :class => "btn" %>
              <% end %>
            <% else %>
              <%= link_to t(:propose_campaign), new_campaign_path, :class => "btn" %>
              <%= link_to t(:archived_campaigns), archived_campaigns_path, :class => "btn" %>
              <% permitted_to? :moderated, Campaign.new do %>
                <%= link_to t(:moderate_campaigns), moderated_campaigns_path, :class => "btn" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
   </div>
</div>
