<div id="campaigns-wrapper">
  <div id="list-campaigns">
    <% if @campaigns.count > 0 %>
      <div id="list-campaigns-info">
        <h2><%= @page_title %></h2>
        <% @campaigns.each do |campaign| %>
          <%= render :partial => "show_campaign", :locals => { :sub_oigame => @sub_oigame, :campaign => campaign } %>
        <% end %>
      </div><!-- list-campaigns-info -->
    <% else %>
      <div id="list-campaigns-info">
        <h2>No hay campañas todavía, puedes proponer una.</h2>
      </div>
    <% end %>
    <div id="list-campaigns-sidebar">
      <% if @sub_oigame %>
        <h2 style="font-size: 2em;"><%= link_to t(:propose_campaign), new_sub_oigame_campaign_path(@sub_oigame), :class => "btn btn-primary btn-large" %></h2>
        <br />
        <h2 style="font-size: 2em;"><%= link_to t(:archived_campaigns), archived_sub_oigame_campaigns_path(@sub_oigame), :class => 'btn btn-large btn-success' %></h2> 
        <br />
        <% if can? :moderated, Campaign %>
          <br />
          <h2 style="font-size: 2em;"><%= link_to t(:moderate_campaigns), moderated_sub_oigame_campaigns_path(@sub_oigame), :class => "btn btn-large btn-danger" %></h2>
        <% end %>
      <% else %>
        <h2 style="font-size: 2em;"><%= link_to t(:propose_campaign), new_campaign_path, :class => "btn btn-primary btn-large" %></h2>
        <br />
        <h2 style="font-size: 2em;"><%= link_to t(:archived_campaigns), archived_campaigns_path, :class => 'btn btn-large btn-success' %></h2> 
        <br />
        <% if can? :moderated, Campaign %>
          <br />
          <h2 style="font-size: 2em;"><%= link_to t(:moderate_campaigns), moderated_campaigns_path, :class => "btn btn-large btn-danger" %></h2>
        <% end %>
      <% end %>
      <br /><br />
      <%= render :partial => "search_form", :locals => { :term => params[:q] } %>
      <br /><br />
      <h2><%= I18n.t(:tags_most_used) %></h2>
      <% unless @archived %>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
        <% end %>
      <% else %>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, { :action => :tags_archived, :id => tag.name }, :class => css_class %>
        <% end %>
      <% end %>
    </div><!-- list-campaigns-sidebar -->
  </div><!-- list-campaigns -->
</div><!-- campaigns-wrapper -->
