<% no_btns = no_btns || false %>
<% no_paginate = no_paginate || false %>
<% message = message || false %>

<div class="campaign-infolist row-fluid">
  <% unless no_btns %>
    <%= render :partial => "menu", :locals => {:active => active} %>
  <% end %>

  <div class="span12">
    <h2><i class="icon-time"></i><%= @page_title %></h2>
    <hr class="dashed">
    <% if message == "call" %>
      <%= render :partial => 'thanks_modal_call', :locals => {:message => message, :campaign => campaign} %>
    <% elsif message %>
      <%= render :partial => 'thanks_modal', :locals => {:message => message, :campaign => campaign} %>
      <div class="message-thanks">
        <p> <%= t(:other_campaigns) %> </p>
      </div>
    <% end %>
  </div>

  <% if @campaigns.count > 0 %>      
    <div class="row-fluid">
      <div class="thumbnails">
        <%= render @campaigns %>
      </div>
    </div>
    <% unless no_paginate %>
      <div class="center">
        <div class="alert-pagination-end" style="display:none;">No hay más campañas para mostrar</div>
        <%= will_paginate(@campaigns, :page_links => false) %>
      </div>
    <% end %>
  </div>

<% else %>
  <div id="list-campaigns-info" class="span12">
    <h2><%= t(:no_campaigns) %></h2>
  </div>
<% end %>
