<h2 class="jtc"><%= I18n.t(:participate) %></h2>

<div id="campaign-message-form" class="form-stacked">
  <%= form_tag message_campaign_path, :id => "js-message-campaign", :honeypot => true do %>
    <fieldset>
      <p><%= I18n.t(:listen_your_voice) %></p>
      <br />
      <% unless user_signed_in? %>
        <div class="form-field">
          <%= label_tag t(:name_and_surname) %>
          <%= text_field_tag :name, nil, :required => true, :placeholder => 'Nombre y apellidos' %>
        </div>
        <div class="form-field">
          <%= label_tag t(:your_email) %>
          <%= email_field_tag :email, nil, :id => "js-message-check-email", :required => true, :placeholder => "tunombre@dominio.com" %>
        </div>
      <% end %>
      <div class="form-field">
        <%= check_box_tag :own_message %>
        <%= label_tag :own_message, t(:own_message) %>
      </div>
      <div class="form-field form-message hide">
        <%= label_tag t(:subject) %>
        <%= text_field_tag :subject, nil, :placeholder => t(:subject) %>
      </div>
      <div class="form-field form-message hide">
        <%= label_tag t(:message) %>
        <%= text_area_tag :body, nil, :placeholder => t(:message_info), :rows => 10 %>
      </div>
      <%= submit_tag t(:send_message), :class => 'btn btn-primary btn-large center' %>
    </fieldset>
  <% end %>
</div><!-- campaign-message-form -->
