<table class="zebra-striped">
  <thead>
    <tr>
      <th><%= I18n.t(:if_you_write) %></th>
      <th><%= I18n.t(:you_will_get) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>*<%= I18n.t(:italic) %>*</td>
      <td><em><%= I18n.t(:italic) %></em></td>
    </tr>
    <tr>
      <td>**<%= I18n.t(:bold) %>**</td>
      <td><b><%= I18n.t(:bold) %></b></td>
    </tr>
    <tr>
      <td>[oiga.me](http://oiga.me)</td>
      <td><a href="http://oiga.me">oiga.me</a></td>
    </tr>
    <tr>
      <td>* item 1<br>* item 2<br>* item 3</td>
      <td><ul><li>item 1</li><li>item 2</li><li>item 3</li></ul></td>
    </tr>
    <tr>
      <td>&gt; <%= I18n.t(:quoted) %></td>
      <td><blockquote><%= I18n.t(:quoted) %></blockquote></td>
    </tr>
    <tr>
      <td>
        <%= I18n.t(:another_format) %><br><br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>if 1 * 2 &lt; 3:<br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>print "hola, mundo!"<br>
      </td>
      <td>
        <%= I18n.t(:another_format) %><br><pre>if 1 * 2 &lt; 3:<br>&nbsp;&nbsp;&nbsp;&nbsp;print "hola, mundo!"</pre>
      </td>
    </tr>
  </tbody>
</table>
