<div id="modal-widget-window" class="hide">
  <h1><%= I18n.t(:integrate_form) %></h1>
  <div id="modal-widget-window-main">
    <div class="span4">
      <div class="well">
        <p><%= I18n.t(:integrate_form_explanation_1) %></p><br />
        <pre><code><%=h "<script type=\"text\/javascript\" src=\"#{APP_CONFIG[:domain]}/campaigns/#{@campaign.slug}/widget.js\"></script>" %></code></pre>
      </div><!-- well -->
      <div> 
      En caso de que no te funcione, puedes probar con la opción ...
      </div>
      <div class="well" style="height:19em;">
        <p><%= I18n.t(:integrate_form_explanation_2) %></p><br />
          <textarea id="modal-widget-html" class="grid_9" rows="10"> </textarea>
      </div><!-- well -->
    </div><!-- span8 -->
    <div class="span5">
      <p class="label"><%= I18n.t(:result) %></p>
      <div id="modal-widget-window-example">
        <%= render :partial => "widget_iframe" %>
      </div><!-- modal-widget-window-example -->
    </div><!-- span5 -->
  </div><!-- modal-widget-window-wrapper -->
  <div class="actions">
    <button class="primary close-dialog"><%= I18n.t(:close) %></button>
  </div>
</div><!-- modal-widget-window -->
