<%# si el usuario tiene permiso para alguna accion, mostramos el dropdown %>
<% if permitted_to? :moderated, campaign || (permitted_to? :moderated, campaign && campaign.moderated?) || (permitted_to? :deactivate, campaign && campaign.published?) || (permitted_to? :participants, campaign && campaign.messages.count > 0) || (permitted_to? :edit, campaign) || ((permitted_to? :prioritize, campaign) && (permitted_to? :deprioritize, campaign)) || (permitted_to? :destroy, campaign) %>
<div class="option-moderation">
  <h4>Opciones</h4>
  <li class="dropdown">
    <ul class="dropdown-menu">
      <li>
        <% if permitted_to? :moderated, campaign %>
          <a href="mailto:<%= campaign.user.email %>">
            <i class="icon-envelope"></i>
            <%= I18n.t(:contact) %>
          </a>
        <% end %>
      </li>
      <% if campaign.status == 'archived' %>
        <li>
          <% if permitted_to? :moderated, campaign %>
            <%= link_to sub_oigame ? activate_sub_oigame_campaign_path(sub_oigame) : activate_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
              <i class="icon-ok-circle"></i>
              <%= t(:activate) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if permitted_to? :edit, campaign %>
            <%= link_to sub_oigame ? edit_sub_oigame_campaign_path(sub_oigame) : edit_campaign_path(campaign) do %>
              <i class="icon-pencil"></i>
              <%= t(:edit) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if permitted_to? :destroy, campaign %>
            <%= link_to sub_oigame ? sub_oigame_campaign_path(sub_oigame) : campaign, :confirm => t(:are_you_sure), :method => :delete do %>
              <i class="icon-trash"></i>
              <%= t(:delete) %>
            <% end %>
          <% end %>
        </li>
      <% elsif campaign.status == 'active' %>
        <li>
          <% if permitted_to? :archive, campaign %>
            <%= link_to sub_oigame ? archive_sub_oigame_campaign_path(sub_oigame) : archive_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
              <i class="icon-file"></i>
              <%= t(:archive) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if (permitted_to? :moderated, campaign) && campaign.moderated? %>
            <%= link_to sub_oigame ? activate_sub_oigame_campaign_path(sub_oigame) : activate_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
              <i class="icon-ok-circle"></i>
              <%= t(:activate) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if (permitted_to? :deactivate, campaign) && campaign.published? %>
            <%= link_to sub_oigame ? deactivate_sub_oigame_campaign_path(sub_oigame) : deactivate_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
              <i class="icon-remove-circle"></i>
              <%= t(:deactivate) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if (permitted_to? :participants, campaign) && campaign.messages.count > 0 %>
            <%= link_to participants_campaign_path(campaign) do %>
              <i class="icon-user"></i>
              <%= t(:download_participants) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if permitted_to? :edit, campaign %>
            <%= link_to sub_oigame ? edit_sub_oigame_campaign_path(sub_oigame) : edit_campaign_path(campaign) do %>
              <i class="icon-pencil"></i>
              <%= t(:edit) %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if (permitted_to? :prioritize, campaign) && (permitted_to? :deprioritize, campaign) %>
            <% unless campaign.priority == true %>
              <%= link_to sub_oigame ? prioritize_sub_oigame_campaign_path(sub_oigame) : prioritize_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                <i class="icon-star"></i>
                <%= t(:prioritize) %>
              <% end %>
            <% else %>
              <%= link_to sub_oigame ? deprioritize_sub_oigame_campaign_path(sub_oigame) : deprioritize_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                <i class="icon-star-empty"></i>
                <%= t(:deprioritize) %>
              <% end %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if (permitted_to? :programe, campaign) %>
            <% if true %>
              <%= link_to sub_oigame ? programe_sub_oigame_campaign_path(sub_oigame) : programe_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                <i class="icon-arrow-up"></i>
                <%= t(:programe) %>
              <% end %>
            <% else %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if permitted_to? :destroy, campaign %>
            <%= link_to sub_oigame ? sub_oigame_campaign_path(sub_oigame) : campaign, :confirm => t(:are_you_sure), :method => :delete do %>
              <i class="icon-trash"></i>
              <%= t(:delete) %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul><!-- .dropdown-menu -->
  </li><!-- .dropdown -->
  </div>
<% end %>
