<div id="campaign-message-form" class="form-stacked">
  <%= form_tag @sub_oigame ? petition_sub_oigame_campaign_path(@sub_oigame) : petition_campaign_path, :honeypot => true do %>
    <fieldset>
      <% unless user_signed_in? %>
        <p><%= I18n.t(:may_your_voice) %></p>
      <% else %>
        <p><%= I18n.t(:may_your_voice_signed) %></p>
      <% end %>
      <% unless user_signed_in? and current_user.name != "" %>
        <div class="form-field">
          <%= label_tag t(:name_and_surname) %>
          <%= text_field_tag :name, nil, :required => true, :placeholder => t(:name_and_surname), :value => cookies[:name]  %>
        </div>
      <% end %>
      <% unless user_signed_in? %>
        <div class="form-field">
          <%= label_tag t(:your_email) %>
          <%= email_field_tag :email, nil, :required => true, :placeholder => t(:example_email), :value => cookies[:email] %>
        </div>
      <% end %>
      <div class="form-actions">
        <%= button_tag t(:join_myself), :class => 'btn btn-inverse' %>
      </div>
    </fieldset>
  <% end %>
</div><!-- campaign-message-form -->
