<ul class="inline">
  <li>
  <a class="social-button social-button-tw" href="https://twitter.com/intent/tweet?button_hashtag=<%= campaign.hashtag %>&text=<%= URI.escape(campaign.name) %>">
    <i class="icon-twitter"></i>
    Tweet 
  </a>
  </li>
  <li>
  <a href="#" class="social-button social-button-fb js-fb-share">
    <i class="icon-facebook"></i>
    <span><%= t(:share) %></span>
  </a>
  </li>
  <li>
  <a class="social-button social-button-g js-google-plus-share" href="https://plus.google.com/share?url=<%= URI.escape campaign.get_absolute_url %>" >
    <i class="icon-google-plus"></i>
    <span><%= t(:share) %></span>
  </a>
  </li>
</ul>
