
<% @page_title = t("oigame.credit.add_credit") %>


<div class="row-fluid">

  <div class="span12">

    <div id="page-wrapper">
      <h2><%= @page_title %></h2>
      <hr class="dashed">

      <div class="alert alert-success">
        <p><%= t('oigame.credit.donate_explain_1_html') %></p>
        <p><%= t('oigame.credit.donate_explain_2_html') %></p>
        <p><%= t('oigame.credit.donate_explain_3_html') %></p>
      </div>

      <div id="donate-form" class="form-stacked">
        <form action="https://servidordepagos.com/Banesto/totalizacion.exe" method="post" class="form-horizontal">
          <fieldset>
            <legend><%= t("oigame.credit.amount_select") %></legend>
            <input type="hidden" name="nombre_comercio" value="ALABS" />
            <input type="hidden" name="referencia" value="<%= @reference %>" />
            <input type="hidden" name="moneda" value="EUR" />
            <input type="hidden" name="project" value="oiga.me add-credit" />
            <input type="hidden" name="type" value="addcredit" />
            <div class="control-group">
              <div class="controls">
                <select id="add-credit-select" name="coste">
                  <option value=""><%= t("oigame.credit.amount_to_donate") %></option>
                  <option value="10.00">10 Euros</option>
                  <option value="30.00">30 Euros</option>
                  <option value="50.00">50 Euros</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="submit" name="submit" value="<%= t("oigame.credit.add_credit") %>" class="btn primary" />
              </div>
            </div>
          </fieldset>
        </form>
        <%= image_tag('credit-cards.jpg', :class => 'cards') %>
      </div><!-- donate-form -->
    </div><!-- page-info -->
  </div><!-- page -->
</div>
