<% @page_title = t(:last_campaigns) %>

<div id="campaigns-wrapper">
  <div id="list-campaigns">
    <div id="list-campaigns-info">
      <h2>Últimas campañas</h2>
      <% @campaigns.each do |campaign| %>
        <div class="campaign-info">
          <h3><%= link_to campaign.name, campaign %></h3>
          <div class="cinfo">
            <div class="campaign-image">
              <%= link_to image_tag(campaign.image_url(:thumb)), campaign %>
              <p><%= link_to t(:join_this_campaign), campaign %><br /><strong>8456</strong> personas ya lo han hecho</p>
            </div>
            <div class="campaign-text">
              <%= campaign.to_html(campaign.intro).html_safe %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>
    </div><!-- list-campaigns-info -->
    <div id="list-campaigns-sidebar">
      <h2>Acciones a tomar</h2>
      <ul>
        <li><%= link_to t(:create_campaign), new_campaign_path %></li>
      </ul>
    </div><!-- list-campaigns-sidebar -->
  </div><!-- list-campaigns -->
</div><!-- campaigns-wrapper -->

<!--
<h1>Listing campaigns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Intro</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= campaign.slug %></td>
    <td><%= campaign.intro %></td>
    <td><%= campaign.body %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>

-->
