<div id="campaigns-wrapper">
  <div id="list-campaigns">
    <div id="list-campaigns-info">
      <h2>Últimas campañas</h2>
      <div class="campaign-info">
        <h3>Título de la campaña</h3>
        <div class="cinfo">
          <div class="campaign-image">
            <img src="/assets/slide1.png" width="170" />
          </div>
          <div class="campaign-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div><!-- campaign-info -->
      <div class="clear"></div>
      <div class="campaign-info">
        <h3>Título de la campaña</h3>
        <div class="cinfo">
          <div class="campaign-image">
            <img src="/assets/slide2.png" width="170" />
          </div>
          <div class="campaign-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div><!-- campaign-info -->
      <div class="clear"></div>
      <div class="campaign-info">
        <h3>Título de la campaña</h3>
        <div class="cinfo">
          <div class="campaign-image">
            <img src="/assets/slide3.png" width="170" />
          </div>
          <div class="campaign-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div><!-- campaign-info -->
      <div class="clear"></div>
      <div class="campaign-info">
        <h3>Título de la campaña</h3>
        <div class="cinfo">
          <div class="campaign-image">
            <img src="/assets/slide1.png" width="170" />
          </div>
          <div class="campaign-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div><!-- campaign-info -->
      <div class="clear"></div>
      <div class="campaign-info">
        <h3>Título de la campaña</h3>
        <div class="cinfo">
          <div class="campaign-image">
            <img src="/assets/slide2.png" width="170" />
          </div>
          <div class="campaign-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div><!-- campaign-info -->
      <div class="clear"></div>
      <div class="campaign-info">
        <h3>Título de la campaña</h3>
        <div class="cinfo">
          <div class="campaign-image">
            <img src="/assets/slide3.png" width="170" />
          </div>
          <div class="campaign-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div><!-- campaign-info -->
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--
<h1>Listing campaigns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Intro</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= campaign.slug %></td>
    <td><%= campaign.intro %></td>
    <td><%= campaign.body %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>

-->
