<h1>Listing campaigns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Intro</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td><%= campaign.name %></td>
    <td><%= campaign.slug %></td>
    <td><%= campaign.intro %></td>
    <td><%= campaign.body %></td>
    <td><%= link_to 'Show', campaign %></td>
    <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
    <td><%= link_to 'Destroy', campaign, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>
