<% @page_title = "Gracias" %>

<div id="page-wrapper">
  <div id="page">
    <div id="page-info">
      <h2><%= @page_title %></h2>
      <p>Gracias por enviar tu mensaje a través de oiga.me. Recibirás un correo electrónico con el último paso a realizar para unirte a la campaña.</p>
      <p><%= link_to t(:back), @campaign, :class => "btn primary" %>

      <%= render :partial => "stats_chart" %>

    </div><!-- page-info -->
    <div id="page-sidebar">
      <div id="show-campaign-sidebar">
        <%= render :partial => "communication" %>
      </div><!-- show-campaign-sidebar -->
    </div><!-- page-sidebar -->
  </div><!-- page -->
</div><!-- page-wrapper -->

<%= render :partial => "modal_widget_form" %>
