<% if params[:q] %>
<%  @page_title = "Buscando \"" + params[:q] + '"' %>
<% else %>
  <% @page_title = "Buscar" %>
<% end %>

<div class="row-fluid">
  

<div class="span7">

<div id="page-wrapper">

  <h2>Buscar campañas</h2>

  <div id="search-form-main">
    <% search_url = @sub_oigame ? search_sub_oigame_campaigns_path(@sub_oigame) : search_campaigns_path %>
    <form id="form-search" method="get" action="<%= search_url %>">
      <div class="control-group">
        <div class="controls">
          <input class="span4 search-query" id="search" type="text" name="q" value="<%= params[:q] %>" placeholder="Buscar campañas">
          <button type="submit" class="btn">
            <i class="icon-search"></i>
            <%= t(:search) %>
          </button>
        </div>
      </div>
    </form>
  </div>


  <div id="list-campaigns">
    <% if @campaigns && @campaigns.count > 0 %>
      <div id="list-campaigns-info">
        <% @campaigns.each do |campaign| %>
          <%= render :partial => "show_campaign", :locals => { :sub_oigame => @sub_oigame, :campaign => campaign } %>
        <% end %>
      </div><!-- list-campaigns-info -->
    <% end %>

  </div><!-- list-campaigns -->


</div><!-- campaigns-wrapper -->


</div>
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

</div>
