<% @page_title = @campaign.name %>

<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <div id="show-campaign-detail-main">
      <h2><%= @campaign.name %></h2>
      <div class="grid_8">
        <% unless @campaign.status == 'archived' %>
          <p><strong>Creada hace <%= time_ago_in_words(@campaign.created_at) %> |
            Nos quedan <%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> días</strong></p>
        <% else %>
          <p><strong>Creada hace <%= time_ago_in_words(@campaign.created_at) %> |
            Campaña archivada</strong></p>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="grid_9">
        <div id="campaign-information">
          <div class="thermometer">
            <div class="thermocontainer">
              <div class="signatures-needed">
                <% if @campaign.ttype == 'mailing' %>
                  <span id="participants" class="big strong"><%= @campaign.messages.validated.count %></span>
                <% elsif @campaign.ttype == 'petition' %>
                  <span id="participants" class="big strong"><%= @campaign.petitions.validated.count %></span>
                <% end %>
                <span class="small weak">de</span>
                <span id="participants-target" class="big strong weak"><%= @campaign.target %></span> participantes
            </div>
            <div style="width: 0%" class="mercury"></div>
          </div>
        </div><!-- campaing-information -->
      </div>
      <div id="action-buttons">
        <p>
          <% if can?(:moderated, @campaign) %>
            <span class="label warning">
              <a href="mailto:<%= @campaign.user.email %>">Contacto</a>
            </span>
          <% end %>
          <% if @campaign.status == 'archived' %>
          <% elsif @campaign.status == 'active' %>
            <% if can?(:archive, @campaign) %>
              &nbsp;&nbsp;
              <span class="label">
                <%= link_to t(:archive), @sub_oigame ? archive_sub_oigame_campaign_path(@sub_oigame) : archive_campaign_path, :confirm => '¿Estas seguro?', :method => :post %>
              </span>
            <% end %>
            <% if can?(:moderated, @campaign) && @campaign.moderated? %>
              &nbsp;&nbsp;
              <span class="label success">
                <%= link_to t(:activate), @sub_oigame ? activate_sub_oigame_campaign_path(@sub_oigame) : activate_campaign_path, :confirm => '¿Estas seguro?', :method => :post %>
              </span>
            <% end %>
            <% if can?(:deactivate, @campaign) && @campaign.published? %>
              &nbsp;&nbsp;
              <span class="label success">
                <%= link_to t(:deactivate), @sub_oigame ? deactivate_sub_oigame_campaign_path(@sub_oigame) : deactivate_campaign_path, :confirm => '¿Estas seguro?', :method => :post %>
              </span>
            <% end %>
            <% if can? :update, @campaign %>
              &nbsp;&nbsp;
              <span class="label notice">
                <%= link_to t(:edit), @sub_oigame ? edit_sub_oigame_campaign_path(@sub_oigame) : edit_campaign_path(@campaign) %>
              </span>
            <% end %>
            <% if can? :destroy, @campaign %>
              &nbsp;&nbsp;
              <span class="label important">
                <%= link_to t(:delete), @sub_oigame ? sub_oigame_campaign_path(@sub_oigame) : @campaign, :confirm => '¿Estas seguro?', :method => :delete %>
              </span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

          <% if @campaign.image.to_s %>
            <%= image_tag(@campaign.image_url.to_s) %>
          <% end %>

    <ul class="tabs" data-tabs="tabs" >
      <li class="active"><a href="#description">Descripción</a></li>
      <li><a href="#message">Mensaje</a></li>
      <% unless @campaign.status == 'archived' %>
        <li><a href="#stats">Estadísticas</a></li>
      <% end %>
    </ul><!-- tabs -->
    <div class="tab-content" id="my-tab-content">
      <div id="description" class="active">
        <div id="campaign-info">
          <h2>Descripción</h2>
          <%= @campaign.to_html(@campaign.intro).html_safe %> 
          <%= @campaign.to_html(@campaign.body).html_safe %> 
        </div>
      </div><!-- description -->
      <div id="message">
        <div id="campaign-info">
          <h2>Destinatarios</h2>
            <%= @campaign.recipients %> 
          <h2>Mensaje</h2>
          <code>
            <b>Asunto</b><%= @campaign.default_message_subject %> 
            <p><%= @campaign.default_message_body %></p>
          </code>
        </div>
      </div><!-- message -->
      <% unless @campaign.status == 'archived' %>
        <div id="stats">
          <%= render :partial => "stats_chart" %>
        </div><!-- message -->
      <% end %>

    </div><!-- tab-content -->

    </div><!-- show-campaign-detail-main -->
        

    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar" class="grid_8">
      
      <% unless @campaign.status == 'archived' %>

        <% if @campaign.ttype == 'petition' %>
          <div id="show-campaign-petition">
            <%= render :partial => 'petition_form' %>
          </div>
        <% end %>

        <% if @campaign.ttype == 'mailing' %>
          <div id="show-campaign-mailing">
            <%= render :partial => 'mailing_form' %>
          </div>
        <% end %>
        
        <h2 class="jtc">Difunde</h2>
        <%= render :partial => 'modal_widget_form' %>
        <div id="diffusion">
          Si quieres difundir esta campaña en tu blog o sitio web, puedes hacerlo añadiendo el siguiente código HTML o Javascript. Eso hace posible que más gente pueda participar en la campaña.
          <a id="show-modal-widget" href="#" class="btn large primary center">Pon el formulario en tu web</a>
        </div>

        <%= render :partial => "communication" %>

      <% end %>

    </div><!-- show-campaign-sidebar -->
  </div><!-- show-campaign -->
</div><!-- campaigns-wrapper -->
