<% @page_title = @campaign.name %>

<% if @campaign.ttype == 'fax' && @campaign.credit <= 5 %>
  <%= render :partial => 'no_credit' %>
<% end %>

<div class="row-fluid">
  <div class="span4">
    <div id="participate-buttons">

      <% unless @campaign.status == 'archived' %>

        <% if @has_participated %>

          <div id="show-campaign-petition">
            <%= render :partial => 'has_participated' %>
          </div>

        <% else %>

          <% if @campaign.ttype == 'petition' %>
            <div id="show-campaign-petition">
              <%= render :partial => 'petition_form' %>
            </div>
          <% end %>
  
          <% if @campaign.ttype == 'mailing' %>
            <div id="show-campaign-mailing">
              <%= render :partial => 'mailing_form' %>
            </div>
          <% end %>
          
          <% if @campaign.ttype == 'fax' %>
            <div id="show-campaign-fax">
              <%= render :partial => 'fax_form' %>
            </div>
          <% end %>

        <% end %>
      <% end %>

    </div> <!-- participate-buttons -->
  </div> <!-- span4 -->

  <div class="span7" style="margin-left: 2.12766%; margin-top: -6em;">

    <div id="show-campaign">
      <div id="show-campaign-detail">
        <h2><%= @campaign.name %></h2>
        <div class="row-fluid">
        <div class="span6">
        <ul>
          <li><strong><%= t(:credit) %>:</strong> <%= number_with_precision(@campaign.credit, :precision => 2) %>€ (<%= link_to t(:add_credit), add_credit_campaign_path %>)</li>
          <% if @campaign.category %>
            <li><strong><%= t(:category) %>:</strong> <%= @campaign.category.name %></li>
          <% end %>
          <% unless @campaign.status == 'archived' %>
            <li><strong><%= t(:published_at) %>:</strong> <%= time_ago_in_words(@campaign.created_at) %></li>
            <li><strong><%= t(:time_left) %>:</strong> <%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> <%= t(:days) %></li>
          <% else %>
            <li><strong><%= t(:published_at) %>:</strong> <%= time_ago_in_words(@campaign.published_at) %></li>
            <li><strong><%= t(:archived_campaign) %></strong></li>
          <% end %>
          <li>
            <strong><%= t(:participants) %>:</strong>
            <span id="participants"><%= @campaign.messages_count %></span>
            <%= t(:of) %>
            <span id="participants-target"><%= @campaign.target %></span>
          </li>
        </ul>
      </div>
      <div>
        <% unless @campaign.user.name.blank? %>
          <%= image_tag avatar_url(@campaign.user.email), :title => @campaign.user.name %>
          <%= @campaign.user.name %>
        <% end %>
      </div>
    </div>

      <div id="campaign-information">
        <div class="progress progress-striped progress-danger active" style="margin-left: 22px;">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div><!-- campaing-information -->


      <ul id="campaign-tab" class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#description"><%= t(:description) %></a>
        </li>
        <% if @campaign.ttype == 'mailing' %>
          <li>
            <a data-toggle="tab" href="#message"><%= t(:message) %></a>
          </li>
        <% end %>
        <% if @campaign.ttype == 'fax' %>
          <li>
            <a data-toggle="tab" href="#fax"><%= t(:Faxes) %></a>
          </li>
        <% end %>
        <% unless @campaign.status == 'archived' %>
          <li data-tab-type="stats">
            <a data-toggle="tab" href="#stats"><%= t(:stats) %></a>
          </li>
        <% end %>
        <% unless @campaign.status == 'archived' %>
          <li data-tab-type="integrate">
            <a data-toggle="tab" href="#integrate"><%= t(:integrate) %></a>
          </li>
        <% end %>

          <%= render :partial => "options_dropdown", :locals => { :campaign => @campaign, :sub_oigame => @sub_oigame } %>

      </ul><!-- tabs -->
      <div class="tab-content">
        <div id="description" class="active tab-pane">
          <div id="campaign-info">
            <h2><%= t(:description) %></h2>
            <%= @campaign.to_html(@campaign.intro).html_safe %> 
            <% if @campaign.image.to_s %>
              <p style="text-align:center;margin:15px 0px;">
              <%= image_tag(@campaign.image_url.to_s) %>
              </p>
            <% end %>
            <%= @campaign.to_html(@campaign.body).html_safe %> 
            
            <%= render :partial => "communication", :locals => { :share_url => campaign_url(@campaign,locale:nil) } %>

        <% if @campaign.commentable %>
            <p style="margin-bottom:30px;"></p>
            <div id="participants">
              <div class="fb-comments" data-href="<%= campaign_url(locale:nil) %>" data-num-posts="2" data-width="500"></div>
            </div><!-- participants -->
        <% end %>
          <p style="margin-bottom:30px;"></p>
          </div>
        </div><!-- description -->
        <div id="message" class="tab-pane fade">
          <div id="campaign-info">
            <h2><%= t(:recipients) %></h2>
            <p><%= t(:recipients_show) %></p>
              <ul>
                <% @campaign.recipients.gsub('@', '[arroba]').split(' ').each do |dest| %> 
                  <li><%= dest %></li>
                <% end %>
              </ul>
              <hr />
              <h2><%= t(:message) %></h2>
              <b><%= t(:subject) %></b>: <%= @campaign.default_message_subject %> 
            <p>
              <pre><%= @campaign.default_message_body %></pre>
            </p>
          </div>
        </div><!-- message -->
        <div id="fax" class="tab-pane fade">
          <div id="campaign-info">
            <h2><%= t(:faxes_recipients) %></h2>
            <p><%= t(:recipients_show) %></p>
              <ul>
                <% @campaign.numbers.each do |number| %> 
                  <li><%= number %></li>
                <% end %>
              </ul>
              <hr />
              <h2><%= t(:message) %></h2>
            <p>
              <pre><%= @campaign.default_message_body %></pre>
            </p>
          </div>
        </div><!-- message -->
        <% unless @campaign.status == 'archived' %>
          <div id="stats" class="tab-pane fade">
            <%= render :partial => "stats_chart" %>
          </div><!-- message -->
        <% end %>
        <% unless @campaign.status == 'archived' %>
          <div id="integrate" class="tab-pane fade">
            <%= t(:spread_info) %>
            <%= link_to t(:spread_form), @sub_oigame ? integrate_sub_oigame_campaign_path(@sub_oigame, @campaign) : integrate_campaign_path(@campaign), :class => "btn btn-inverse" %>
          </div><!-- message -->
        <% end %>

      </div><!-- tab-content -->

      </div><!-- show-campaign-detail -->
      <div id="show-campaign-sidebar" class="grid_8">
        
        <% unless @campaign.status == 'archived' %>

          <% if @has_participated %>

            <div id="show-campaign-petition">
              <%= render :partial => 'has_participated' %>
            </div>

          <% end %>
          
        <% end %>

      </div><!-- show-campaign-sidebar -->
    </div><!-- show-campaign -->

  </div><!-- span7 -->


</div><!-- row-fluid -->
