<% @page_title = @campaign.name %>
<% @in_campaign = true %>
<% if @campaign.ttype == 'fax' && @campaign.credit <= 5 %>

<% end %>

<div class="row-fluid campaign-wrapper">
  <div class="span8">
    <div class="contenedorcampaign">
      <div class="img-wrap">
        <div class="image-show-campaign"><%= image_tag @image_src %></div>
        <div class="img-overlay text-show-campaign">
          <h4><%= @campaign.name.capitalize %></h4>
          <p><%= @description %></p>
        </div>
      </div>
    </div>

    <div class="welcome-campaign">
      <div id="explain">
        <ul>
          <li>
            <p><b><%= t(:created_by) %>:</b>
              <img class="creada" src="<%= avatar_url(@campaign.user.email) %>" alt="<%= @campaign.user.name %>"/>
              <span class="creador_name"><%= @campaign.user.name %></span>
            </p>
          </li>
          <% if @campaign.ttype == "fax" %>
            <li>
              <strong><span><%= t(:credits) %></span>:</strong> <%= number_with_precision(@campaign.credit, :precision => 2) %> (<%= link_to t(:add_credit),add_credit_campaign_path %>)
            </li>
          <% end %>
          <li><strong><%= t(:published_at) %>:</strong><%= time_ago_in_words(@campaign.created_at) %></li>
          <li><strong><%= t(:time_left) %>:</strong><%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> <%= t(:days) %></li>
          <li><strong><%= t(:type) %>:</strong><i class="<%= @campaign.ttype_img %>"></i> <%= @campaign.ttype_name %> </li>
        </ul>
      </div>

      <div id="progressbar">
        <% objective  = @campaign.target.to_i %>
        <% gotten = @campaign.messages_count.to_i %>
        <progress id="bar" value="<%= gotten %>" max="<%= objective %>">
        </progress>
        <h3 id="recogidas"><span class="highlighted"><%= gotten %></span> <%= @campaign.ttype_message %></h3>

      <span class="circle2"><i class="icon-signin"></i>
      <p id="necesarias"><%= t(:miss) %><span class="underlined"><%= objective - gotten %></span> <%= t(:more) %>!</p>
        </span>
      </div>

    </div><!-- welcome -->


    <div style="    line-height: normal;
    margin-left: 9.8%;
    margin-top: 2em;
    width: 90%;">

      <ul class="nav nav-tabs line-tabs">
        <li><a href="#desc" data-toggle="tab" title="<%= t(:description) %>"><span><%= t(:description) %></span></a></li>
        <li><a href="#stats" data-toggle="tab" title="<%= t(:stats) %>"><span><%= t(:stats) %></span></a></li>
        <%= render :partial => "options_dropdown", :locals => { :campaign => @campaign, :sub_oigame => @sub_oigame } %>
        <li><a href="#recip" data-toggle="tab" title="<%= t(:recipients) %>"><span><%= t(:recipients) %></span></a></li>
      </ul>

      <div class="topcontent tab-content">

        <div id="stats" class="tab-pane fade">
          <%= render :partial => "stats_chart", :locals => {:campaign => @campaign} %>
        </div>

        <div id="recip" class="tab-pane fade">
          <p>
            <%= t('your_message_will_be_sent_to') %>
          </p>
          <%= simple_format @campaign.recipients_list %>
        </div>

        <div id="desc" class="active tab-pane">
          <div id="campaign-info">
            <%= @campaign.to_html(@campaign.body).html_safe %>
          </div>
          <% if @message_body || @message_subject %>
            <div id="carta">
              <%= "<p><b>#{t(:subject)}:</b> #{@message_subject}</p>".html_safe if @message_subject %>
              <p><b><%= t(:message) %>:</b></p>
              <p><%= @message_body %></p>
            </div>
            <div class="sombracarta">
              <%= image_tag 'shadow2.png' %>
            </div>
          <% end %>

        <% if @campaign.commentable %>
            <p style="margin-bottom:30px;"></p>
            <div id="participants">
              <!-- FB COMMENTS -->
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-comments" data-href="<%= campaign_url %>" data-num-posts="2" data-width="600"></div>
            </div><!-- participants -->
        <% end %>

        </div><!-- description -->
      </div><!-- tab-content -->
    </div><!-- inner-tabs -->

  </div><!-- span8 -->

  <div class="span4">
    <div class="sidefirma">
      <% if @campaign.ttype == 'fax' && @campaign.credit <= 5 %>
        <%= render partial: 'fax_no_credit' %>
      <% elsif @campaign.has_participated? current_user %>
        <%= render partial: 'has_participated' %>
      <% else %>
        <%= render partial: 'sign_form' %>
      <% end %>
      <div id="redes">
        <script>
        function shareOnFacebook(title,url,desc,image) {
            t=encodeURIComponent(title);
            d=encodeURIComponent(desc);
            u=encodeURIComponent(url);
            i=encodeURIComponent(image);
            share_url='http://www.facebook.com/sharer.php';
            share_url+='?s=100&p[title]='+t+'&p[summary]='+d+'&p[url]='+u;
            share_url+='&p[images][0]='+i;
            share_url+='&t='+t+'&e='+d;
            var myWindow = window.open(share_url, 'sharer', 'toolbar=0,status=0,width=626,height=436');
        }
        </script>
        <ul class="inline">
          <li>
            <a onclick='shareOnFacebook("<%= @campaign.name %>", "<%= @campaign.get_absolute_url %>", "<%= @campaign.intro %>", "<%= APP_CONFIG[:domain] %><%= image_path(@image_src) %>")' href="javascript:void" class="fb_ui_button">
              <i class="icon-facebook"></i>
              <span class="label">Compartir</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?button_hashtag=<%= @campaign.hashtag %>&text=He%20participado%20en%20la%20campa%C3%B1a%20%22<%= URI.escape(@campaign.name) %>%22" class="twitter-hashtag-button" data-lang="es" data-related="oigame" data-url="<%= @campaign.get_absolute_url %>">Tweet #<%= @campaign.hashtag %></a>
          </li>
      </div>
    </div><!-- sidefirma -->
  </div> <!-- span4 -->

</div> <!-- row-fluid -->

<br clear="all">

