<% @page_title = @campaign.name %>

<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <h2><%= @campaign.name %></h2>
      <div class="grid_6">
        <p class="small"> Creada hace <%= time_ago_in_words(@campaign.created_at) %> </p>
        <p class="small"> Nos quedan <%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> días </p>
      </div>
      <div class="grid_7">
        <div id="campaign-information">
          <div class="thermometer">
            <div class="thermocontainer">
              <div class="signatures-needed">
                <span id="participants" class="big strong"><%= @campaign.messages.count %></span>
                <span class="small weak">de</span>
                <span id="participants-target" class="big strong weak"><%= @campaign.target %></span> participantes
            </div>
            <div style="width: 0%" class="mercury"></div>
          </div>
        </div><!-- campaing-information -->
      </div>
        <p>
          <% if can?(:moderated, @campaign) && @campaign.moderated? %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label success">
              <%= link_to t(:activate), activate_campaign_path, :confirm => '¿Estas seguro?', :method => :post %>
            </span>
          <% end %>
          <% if can?(:deactivate, @campaign) && @campaign.published? %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label success">
              <%= link_to t(:deactivate), deactivate_campaign_path, :confirm => '¿Estas seguro?', :method => :post %>
            </span>
          <% end %>
          <% if can? :update, @campaign %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label notice">
              <%= link_to t(:edit), edit_campaign_path(@campaign) %>
            </span>
          <% end %>
          <% if can? :destroy, @campaign %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label important">
              <%= link_to t(:delete), @campaign, :confirm => '¿Estas seguro?', :method => :delete %>
            </span>
          <% end %>
        </p>
    </div>
      <% if @campaign.image.to_s %>
        <%= image_tag(@campaign.image_url.to_s) %>
      <% end %>
      <%= @campaign.to_html(@campaign.intro).html_safe %> 
      <%= @campaign.to_html(@campaign.body).html_safe %> 

      <div id="campaign-actions">
        <!-- span class="label success"><a href="#" id="show-modal-widget">Ver el widget de esta campaña</a></span -->
      </div><!-- campaign-actions -->
        
      <%= render :partial => "stats_chart" %>

      <%= render :partial => "modal_widget_form" %>

    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar-wrapper">

      <div id="show-campaign-sidebar">
        <h2 id="jtc">Participa
          <a id="show-modal-send-message" href="#" title="Maximizar">
            <img style="float:right;" src="/assets/view-fullscreen.png" alt="Maximizar" />
          </a>
        </h2>

        <div id="campaign-message-form" class="form-stacked">
          <%= form_tag message_campaign_path do %>
            <fieldset>
              In food truck adipisicing irony bicycle rights farm-to-table proident, echo park +1 helvetica magna. Cliche four loko cosby sweater non fap butcher cred, squid commodo. Vero carles fanny pack cosby sweater elit food truck. 
              <% unless user_signed_in? %>
                <div class="form-field">
                  <%= label_tag t(:your_email) %>
                  <%= email_field_tag :email, nil, :required => true, :placeholder => 'Tu correo electrónico', :class => 'span5' %>
                </div>
              <% end %>
              <div class="form-field">
                <%= label_tag t(:subject) %>
                <%= text_field_tag :subject, nil, :required => true, :placeholder => 'Asunto del mensaje', :class => 'span5' %>
              </div>
              <div class="form-field">
                <%= label_tag t(:message) %>
                <%= text_area_tag :body, nil, :required => true, :placeholder => 'Mensaje a enviar', :class => 'span5', :rows => 10 %>
              </div>
              <div class="form-actions">
                <%= submit_tag t(:send_message), :class => 'btn primary large center' %>
              </div>
            </fieldset>
          <% end %>
        </div><!-- campaign-message-form -->

        <%= render :partial => "communication" %>

        <div id="modal-send-message" style="display:none;">
          <h1><%= t(:join_this_campaign) %></h1>
          <div id="modal-campaign-message-form"></div>
          <div class="actions">
            <%= submit_tag t(:send_message), :class => 'btn primary center modal-send-form' %>
          </div>
        </div><!-- modal-send-message -->

      </div><!-- show-campaign-sidebar -->
    </div><!-- show-campaign-sidebar-wrapper -->
  </div><!-- show-campaign -->
</div><!-- campaigns-wrapper -->
