<% @page_title = @campaign.name %>


  <div class="row-fluid">

  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

  <div id="participate-buttons" class="span2">

<div class='petition-action-box lightgrey-color-scheme bottom-margin-2 banner-box' html='{}'>
  <div class='padded-2'>
    <div class='petition-action-box-header'>
      <div>
        <h4 class='header-text h2 embossed-text bottom-margin-0 top-margin-0'>
          <span class='symbol symbol-lock'></span>
          <span class='symbol symbol-check'></span>
          <span class='symbol symbol-award'></span>
          <span class='petition-action-box-header-text'>
            Firma esta petición
          </span>
        </h4>
        <div class='petition-signature-count bottom-margin-0' data-num_sigs='88901' data-translation_string='with %{num_sigs} supporters' html='{}'>
          <span class='with-supporters small weak'>
            0 firmas alcanzadas
          </span>
        </div>
       </div>
       <div class='thermometer-container bottom-margin-1'>
        <div class='petition-signatures-thermometer' data-count_down='data-count_down' data-count_text='%{number} NEEDED' data-current_count='88901' data-goal='150000'>
          <div class='thermometer-reboot rounded-corners-1'>
            <div class='mercury'></div>
          </div>
          <div class='caption extra-small weak polarized-content'>
            <div class='right count'>
              SE NECESITAN 150.000 FIRMAS MÁS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='hidden share-buttons'>
      <button class='big bottom-margin-1 facebook facebook-button facebook-button-reboot full share-via-facebook' href='' html='{}'>
        <span class='symbol symbol-facebook-f'></span>
        <span class='content'>Compartir en Facebook</span>
        <span class='spinner'></span>
      </button>
      <div class='share-links center-content'>
        <ul class='inline with-separator'>
          <li>
            <a class='share-link weak share-via-twitter'>
              <span class='symbol symbol-twitter-bird'></span>
              <span>Twittear</span>
            </a>
          </li>
          <li>
            <a class='share-link weak share-email' href='#'>
              <span class='symbol symbol-mail'></span>
              <span>Email</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <form accept-charset="UTF-8" action="http://www.change.org/es/peticiones/ministerio-de-justicia-indulto-para-david-reboredo-3/signatures" class="petition-sign-form international" data-remote="true" data-single-submit="true" html="{}" id="new_signature" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="J/m78KfrL3YldkPTK1uvD0cee9+soiucUcYhFPbrltc=" /></div>
      <div class='fields-and-info bottom-margin-1'>
        <div class='slide-container'>
          <div class='fields'>
            <label class="string first-name leading-label no-label"><span class="label-text"></span><span class="label-content"><input data-field-name="First Name" id="" name="signature[first_name]" placeholder="Nombre" type="text" /><span class="form-error small" data-for="First Name"></span></span></label>
            <label class="string last-name leading-label no-label"><span class="label-text"></span><span class="label-content"><input data-field-name="Last Name" id="" name="signature[last_name]" placeholder="Apellido" type="text" /><span class="form-error small" data-for="Last Name"></span></span></label>
            <label class="string email leading-label no-label"><span class="label-text"></span><span class="label-content"><input data-field-name="Email" id="" name="signature[email]" placeholder="Email" type="text" /><span class="form-error small" data-for="Email"></span></span></label>
            <input id="" name="signature[form_type]" type="hidden" value="postal_code_only_experiment" />
            <label class="postal-code-only-experiment-postal-code string postal-code leading-label no-label"><span class="label-text"></span><span class="label-content"><input data-field-name="Postal Code" id="" name="signature[postal_code]" placeholder="Código Postal" type="text" /><span class="form-error small" data-for="Postal Code"></span></span></label>
            <label class="postal-code-only-experiment-country country country leading-label no-label"><span class="label-text"></span><span class="label-content"><select data-field-name="Country" id="" name="signature[country]"><option value="AX">Åland</option>
            <option value="AL">Albania</option>
            <option value="ES" selected="selected">España</option>
            <option value="US">Estados Unidos</option>
          </div>
        </div>
        <label class="text message leading-label no-label"><span class="label-text"></span><span class="label-content"><textarea cols="" id="" name="signature[message]" placeholder="¿Por qué es esto importante para ti? (Opcional)" rows=""></textarea><span class="form-error small" data-for="Message"></span></span></label>
      </div>
      <div class='sign-button bottom-margin-1'>
        <a class='action button full big submit' data-submitting_value='Firmando' href='?javascript=false'>
          Firma
          &nbsp;&nbsp;
          <span class='symbol symbol-bracket-right'></span>
        </a>
        <input data-submitting_value="Enviando ..." id="" name="commit" style="position:absolute;right:9999em" type="submit" value="Enviar" />
      </div>
      <div class='optouts-and-info'>
        <label class="weak small boolean public trailing-label"><input name="signature[public]" type="hidden" value="0" /><input checked="checked" id="" name="signature[public]" type="checkbox" value="1" /><span class="label-content"><span class="label-text">Mostrar públicamente mi firma en Change.org</span><span class="form-error small" data-for="Public"></span></span></label>
        <label class="weak small boolean post-to-facebook trailing-label"><input name="signature[post_to_facebook]" type="hidden" value="0" /><input disabled="disabled" id="" name="signature[post_to_facebook]" type="checkbox" value="1" /><span class="label-content"><span class="label-text">Compartir con mis amigos en Facebook</span><span class="form-error small" data-for="Post To Facebook"></span></span></label>
        <script>
          //<![CDATA[
          $('[name="signature[post_to_facebook]"]').prop('disabled', true);
          //]]>
        </script>
        <div class='terms-of-service weak extra-small'>
          Firmando, aceptas las <a class='stealth disclaimer-link' href='/es/qui%C3%A9nes-somos/t%C3%A9rminos-del-servicio' onclick="window.open('/es/qui%C3%A9nes-somos/t%C3%A9rminos-del-servicio', 'User_Agreement', 'width=800,height=600,scrollbars=1'); return false;">Normas de uso</a> y la <a class=' disclaimer-link' href='/es/qui%C3%A9nes-somos/privacidad' onclick="window.open('/es/qui%C3%A9nes-somos/privacidad', 'User_Agreement', 'width=800,height=600,scrollbars=1'); return false;">política de privacidad</a> de Change.org
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>

  <div class="span7">

<div id="page-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <div id="show-campaign-detail-main">
      <h2><%= @campaign.name %></h2>
      <div class="row-fluid">
      <div class="span6">
      <ul>
        <li><strong><%= t(:credit) %>:</strong> <%= number_with_precision(@campaign.credit, :precision => 2) %>€</li>
        <% if @campaign.category %>
          <li><strong><%= t(:category) %>:</strong> <%= @campaign.category.name %></li>
        <% end %>
        <% unless @campaign.status == 'archived' %>
          <li><strong><%= t(:published_at) %>:</strong> <%= time_ago_in_words(@campaign.created_at) %></li>
          <li><strong><%= t(:time_left) %>:</strong> <%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> <%= t(:days) %></li>
        <% else %>
          <li><strong><%= t(:published_at) %>:</strong> <%= time_ago_in_words(@campaign.published_at) %></li>
          <li><strong><%= t(:archived_campaign) %></strong></li>
        <% end %>
        <li>
          <strong><%= t(:participants) %>:</strong>
          <span id="participants">
          <% if @campaign.ttype == 'mailing' %>
            <%= @campaign.messages.validated.count %>
          <% elsif @campaign.ttype == 'petition' %>
            <%= @campaign.petitions.validated.count %>
          <% elsif @campaign.ttype == 'fax' %>
            <%= @campaign.faxes.validated.count %>
          <% end %>
        </span>
          <%= t(:of) %>
          <span id="participants-target"><%= @campaign.target %></span>
        </li>
      </ul>
    </div>
    <div>
      <% unless @campaign.user.name.blank? %>
        <%= image_tag avatar_url(@campaign.user.email), :title => @campaign.user.name %>
        <%= @campaign.user.name %>
      <% end %>
    </div>
  </div>

    <div id="campaign-information">
      <div class="progress progress-striped progress-danger active">
        <div class="bar" style="width: 0%;"></div>
      </div>
    </div><!-- campaing-information -->


    <ul id="campaign-tab" class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#description"><%= t(:description) %></a>
      </li>
      <% if @campaign.ttype == 'mailing' %>
        <li>
          <a data-toggle="tab" href="#message"><%= t(:message) %></a>
        </li>
      <% end %>
      <% if @campaign.ttype == 'fax' %>
        <li>
          <a data-toggle="tab" href="#fax"><%= t(:Faxes) %></a>
        </li>
      <% end %>
      <% unless @campaign.status == 'archived' %>
        <li data-tab-type="stats">
          <a data-toggle="tab" href="#stats"><%= t(:stats) %></a>
        </li>
      <% end %>

        <%= render :partial => "options_dropdown", :locals => { :campaign => @campaign, :sub_oigame => @sub_oigame } %>

    </ul><!-- tabs -->
    <div class="tab-content">
      <div id="description" class="active tab-pane">
        <div id="campaign-info">
          <h2>Descripción</h2>
          <%= @campaign.to_html(@campaign.intro).html_safe %> 
          <% if @campaign.image.to_s %>
            <p style="text-align:center;margin:15px 0px;">
            <%= image_tag(@campaign.image_url.to_s) %>
            </p>
          <% end %>
          <%= @campaign.to_html(@campaign.body).html_safe %> 

      <% if @campaign.commentable %>
          <p style="margin-bottom:30px;"></p>
          <div id="participants">
            <!-- FB COMMENTS -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="<%= campaign_url %>" data-num-posts="2" data-width="500"></div>
          </div><!-- participants -->
      <% end %>
        <p style="margin-bottom:30px;"></p>
        </div>
      </div><!-- description -->
      <div id="message" class="tab-pane fade">
        <div id="campaign-info">
          <h2><%= t(:recipients) %></h2>
          <p><%= t(:recipients_show) %></p>
            <ul>
              <% @campaign.recipients.gsub('@', '[arroba]').split(' ').each do |dest| %> 
                <li><%= dest %></li>
              <% end %>
            </ul>
            <hr />
            <h2><%= t(:message) %></h2>
            <b><%= t(:subject) %></b>: <%= @campaign.default_message_subject %> 
          <p>
            <pre><%= @campaign.default_message_body %></pre>
          </p>
        </div>
      </div><!-- message -->
      <div id="fax" class="tab-pane fade">
        <div id="campaign-info">
          <h2><%= t(:faxes_recipients) %></h2>
          <p><%= t(:recipients_show) %></p>
            <ul>
              <% @campaign.numbers.each do |number| %> 
                <li><%= number %></li>
              <% end %>
            </ul>
            <hr />
            <h2><%= t(:message) %></h2>
          <p>
            <pre><%= @campaign.default_message_body %></pre>
          </p>
        </div>
      </div><!-- message -->
      <% unless @campaign.status == 'archived' %>
        <div id="stats" class="tab-pane fade">
          <%= render :partial => "stats_chart" %>
        </div><!-- message -->
      <% end %>

    </div><!-- tab-content -->

    </div><!-- show-campaign-detail-main -->
        

    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar" class="grid_8">
      
      <% unless @campaign.status == 'archived' %>

        <% if @has_participated %>

          <div id="show-campaign-petition">
            <%= render :partial => 'has_participated' %>
          </div>

        <% else %>

          <% if @campaign.ttype == 'petition' %>
            <div id="show-campaign-petition">
              <%= render :partial => 'petition_form' %>
            </div>
          <% end %>
  
          <% if @campaign.ttype == 'mailing' %>
            <div id="show-campaign-mailing">
              <%= render :partial => 'mailing_form' %>
            </div>
          <% end %>
          
          <% if @campaign.ttype == 'fax' %>
            <div id="show-campaign-fax">
              <%= render :partial => 'fax_form' %>
            </div>
          <% end %>

        <% end %>
        
        <h2 class="jtc"><%= t(:spread) %></h2>
        <div id="diffusion">
          <%= t(:spread_info) %>
          <%= link_to t(:spread_form), @sub_oigame ? integrate_sub_oigame_campaign_path(@sub_oigame, @campaign) : integrate_campaign_path(@campaign), :class => "btn btn-large btn-primary center" %>
        </div>

        <%= render :partial => "communication", :locals => { :share_url => CGI::escape(APP_CONFIG[:domain]+"/campaigns/"+@campaign.slug) } %>

      <% end %>


    </div><!-- show-campaign-sidebar -->
  </div><!-- show-campaign -->
</div><!-- campaigns-wrapper -->


</div>

</div>

