<% @page_title = @campaign.name %>

<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <h2>
        <%= @campaign.name %>
        <% if @campaign.user == current_user %>
          <span class="label notice">
            <%= link_to t(:edit_campaign), edit_campaign_path(@campaign) %>
          </span>
        <% end %>
      </h2>
      <%= image_tag(@campaign.image_url.to_s) %>
      <%= @campaign.to_html(@campaign.intro).html_safe %> 
      <%= @campaign.to_html(@campaign.body).html_safe %> 
    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar">
      <h2><%= t(:join_this_campaign) %></h2>
    </div><!-- show-campaign-sidebar -->
  </div><!-- show-campaign -->
</div><!-- campaigns-wrapper -->
