<% @page_title = @campaign.name %>
<% @in_campaign = true %>
<% if @campaign.ttype == 'fax' && @campaign.credit <= 5 %>

<% end %>
<div class="contenedorcampaign c">
  <div class="img-wrap">
    <%= image_tag @image_src %>
    <div class="img-overlay">
      <h4><%= @campaign.name.capitalize %></h4>
      <p><%= @description %></p>
    </div>
  </div>
</div>

<div class="sidefirma c">
  <% if @campaign.ttype == 'fax' && @campaign.credit <= 5 %>
    <%= render partial: 'fax_no_credit' %>
  <% elsif @campaign.has_participated? current_user %>
    <%= render partial: 'has_participated' %>
  <% else %>
    <%= render partial: 'sign_form' %>
  <% end %>
</div><!-- sidefirma -->

<div class="welcome c">
  <div id="explain">
    <ul>
      <li>
        <p><b>Creada por:</b></p>
        <p>
          <img class="creada" src="<%= avatar_url(@campaign.user.email) %>" alt="creador de campaña"/>
          <span class="creador_name"><%= @campaign.user.name %></span>
        </p>
      </li>
      <% if @campaign.ttype == "fax" %>
        <li>
          <strong><span>Credito</span>:</strong> <%= number_with_precision(@campaign.credit, :precision => 2) %>€ (<%= link_to 'Añadir crédito',add_credit_campaign_path %>)
        </li>
      <% end %>
      <li><strong>Publicada hace:</strong><%= time_ago_in_words(@campaign.created_at) %></li>
      <li><strong>Quedan:</strong><%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> <%= t(:days) %></li>
    </ul>
  </div>

  <div id="progressbar">
    <% objective  = @campaign.target.to_i %>
    <% gotten = @campaign.messages_count.to_i %>
    <progress id="bar" value="<%= gotten %>" max="<%= objective %>">
    </progress>
    <h3 id="recogidas"><span class="highlighted"><%= gotten %></span> Firmas</h3>
  <span class="circle2"><i class="icon-signin"></i>
  <p id="necesarias">Faltan<span class="underlined"><%= objective - gotten %></span> más!</p>
    </span>
  </div>


</div><!-- welcome -->


<div id="tabs4" >
  <ul>
    <li><a class="tab1" href="http://" title="Descripción"><span class="active">Descripción</span></a></li>

    <li><a href="http://" title="Estadísticas"><span>Estadísticas</span></a></li>
  </ul>
</div><!-- tabs -->
<br clear="left">
<div class="topcontent">
  <div class="tab-content c">


    <div id="description" class="active tab-pane">
      <div id="realtime" class="">
        <ul>

        </ul>

        <div class="quoted">
          <li>
            <span><i class=" icon-quote-left icon-4x"></i></span>
            <h6>Ecologistas en accion</h6>


          </li>
          <p>Este es el comentario perosonal escrito por el creador de la campaña.Gracias a todos los Firmantes ,esta campaña es importante.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos.</p>
        </div><!-- quoted -->
      </div><!--/.realtime-->
      <div id="campaign-info">
        <%= @campaign.to_html(@campaign.body).html_safe %>
      </div>
      <% if @message_body || @message_subject %>
        <div id="carta">
          <%= "<p><b>Asunto:</b> #{@message_subject}</p>".html_safe if @message_subject %>
          <p><b>Mensaje:</b></p>
          <p><%= @message_body %></p>
        </div>
        <div class="sombracarta">
          <%= image_tag 'shadow2.png' %>
        </div>
      <% end %>

    </div><!-- description -->
  </div><!-- tab-content -->
</div><!-- topfooter -->
<br clear="all">
