<% @page_title = @campaign.name %>

<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <div id="show-campaign-detail-main">
      <h2><%= @campaign.name %></h2>
      <div class="grid_12">
        <div class="grid_6">  
          <dl class="dl-horizontal">
            <% unless @campaign.status == 'archived' %>
              <dt><%= I18n.t(:published_at) %></dt>
              <% # published_at no es correcto aquí, da error si la campaña no ha sido publicada todavía %>
                <dd><%= time_ago_in_words(@campaign.created_at) %></dd>
              <dt><%= I18n.t(:time_left) %></dt>
                <dd><%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> <%= I18n.t(:days) %></dd>
            <% else %>
              <dt><%= I18n.t(:published_at) %></dt>
                <dd>hace <%= time_ago_in_words(@campaign.published_at) %></dd>
              <dt><%= I18n.t(:archived_campaign) %></dt>
            <% end %>
            <dt> <%= I18n.t(:participants) %> </dt>
              <dd>
                <span id="participants">
                  <% if @campaign.ttype == 'mailing' %>
                    <%= @campaign.messages.validated.count %>
                  <% elsif @campaign.ttype == 'petition' %>
                    <%= @campaign.petitions.validated.count %>
                  <% end %>
                </span>
                <%= I18n.t(:of) %>
                <span id="participants-target"><%= @campaign.target %></span>
              </dd>
          </dl>
        </div><!-- .grid_6 -->
        <div class="grid_5">
          <dl class="dl-horizontal">
          <% if not @campaign.user.name.blank? %>
            <dt>Creada por</dt>
              <dd style="text-align:center">
                <%= image_tag avatar_url(@campaign.user.email), :title => @campaign.user.name, :style => 'margin-bottom: 1px;' %>
                <%= @campaign.user.name %>
              </dd>
          <% end %>
        </div><!-- .grid_5 -->
      </div><!-- .grid_12 -->
      <div class="clear"></div>
      <div class="grid_12">
        <div id="campaign-information">
          <div class="progress progress-striped progress-danger active">
            <div class="bar" style="width: 0%;"></div>
          </div>
        </div><!-- campaing-information -->
      </div>

    <div class="clearfix"></div>

    <ul id="campaign-tab" class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#description"><%= I18n.t(:description) %></a>
      </li>
      <% if @campaign.ttype == 'mailing' %>
        <li>
          <a data-toggle="tab" href="#message"><%= I18n.t(:message) %></a>
        </li>
      <% end %>
      <% unless @campaign.status == 'archived' %>
        <li data-tab-type="stats">
          <a data-toggle="tab" href="#stats"><%= I18n.t(:stats) %></a>
        </li>
      <% end %>

    <%# si el usuario tiene permiso para alguna accion, mostramos el dropdown %>
    <% if can? :moderated, @campaign or (can? :moderated, @campaign && @campaign.moderated?) or (can? :deactivate, @campaign && @campaign.published?) or (can? :participants, @campaign && @campaign.messages.count > 0) or (can? :update, @campaign) or (can? :priority, @campaign) or (can? :destroy, @campaign) %>
      <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Opciones <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <% if can?(:moderated, @campaign) %>
                  <a href="mailto:<%= @campaign.user.email %>">
                    <i class="icon-envelope"></i>
                    <%= I18n.t(:contact) %>
                  </a>
                <% end %>
              </li>
              <% if @campaign.status == 'archived' %>
                <li>
                  <% if can?(:moderated, @campaign) %>
                    <%= link_to @sub_oigame ? activate_sub_oigame_campaign_path(@sub_oigame) : activate_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                      <i class="icon-ok-circle"></i>
                      <%= t(:activate) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can? :update, @campaign %>
                    <%= link_to @sub_oigame ? edit_sub_oigame_campaign_path(@sub_oigame) : edit_campaign_path(@campaign) do %>
                      <i class="icon-pencil"></i>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can? :destroy, @campaign %>
                    <%= link_to @sub_oigame ? sub_oigame_campaign_path(@sub_oigame) : @campaign, :confirm => t(:are_you_sure), :method => :delete do %>
                      <i class="icon-trash"></i>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </li>
              <% elsif @campaign.status == 'active' %>
                <li>
                  <% if can?(:archive, @campaign) %>
                    <%= link_to @sub_oigame ? archive_sub_oigame_campaign_path(@sub_oigame) : archive_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                      <i class="icon-file"></i>
                      <%= t(:archive) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can?(:moderated, @campaign) && @campaign.moderated? %>
                    <%= link_to @sub_oigame ? activate_sub_oigame_campaign_path(@sub_oigame) : activate_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                      <i class="icon-ok-circle"></i>
                      <%= t(:activate) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can?(:deactivate, @campaign) && @campaign.published? %>
                    <%= link_to @sub_oigame ? deactivate_sub_oigame_campaign_path(@sub_oigame) : deactivate_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                      <i class="icon-remove-circle"></i>
                      <%= t(:deactivate) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can? :participants, @campaign and @campaign.messages.count > 0 %>
                    <%= link_to participants_campaign_path(@campaign) do %>
                      <i class="icon-user"></i>
                      <%= t(:download_participants) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can? :update, @campaign %>
                    <%= link_to @sub_oigame ? edit_sub_oigame_campaign_path(@sub_oigame) : edit_campaign_path(@campaign) do %>
                      <i class="icon-pencil"></i>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <% if can? :priority, @campaign %>
                    <% unless @campaign.priority == true %>
                      <%= link_to @sub_oigame ? prioritize_sub_oigame_campaign_path(@sub_oigame) : prioritize_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                        <i class="icon-star"></i>
                        <%= t(:prioritize) %>
                      <% end %>
                    <% else %>
                      <%= link_to @sub_oigame ? deprioritize_sub_oigame_campaign_path(@sub_oigame) : deprioritize_campaign_path, :confirm => t(:are_you_sure), :method => :post do %>
                        <i class="icon-star-empty"></i>
                        <%= t(:deprioritize) %>
                      <% end %>
                    <% end %> 
                  <% end %> 
                </li>
                <li>
                  <% if can? :destroy, @campaign %>
                    <%= link_to @sub_oigame ? sub_oigame_campaign_path(@sub_oigame) : @campaign, :confirm => t(:are_you_sure), :method => :delete do %>
                      <i class="icon-trash"></i>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul><!-- .dropdown-menu -->
      </li><!-- .dropdown -->
      <% end %>
    </ul><!-- tabs -->
    <div class="tab-content">
      <div id="description" class="active tab-pane">
        <div id="campaign-info">
          <h2>Descripción</h2>
          <%= @campaign.to_html(@campaign.intro).html_safe %> 
          <% if @campaign.image.to_s %>
            <p style="text-align:center;margin:15px 0px;">
            <%= image_tag(@campaign.image_url.to_s) %>
            </p>
          <% end %>
          <%= @campaign.to_html(@campaign.body).html_safe %> 

      <% if @campaign.commentable %>
          <div id="participants">
            <!-- FB COMMENTS -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="<%= campaign_url %>" data-num-posts="2" data-width="500"></div>
          </div><!-- participants -->
      <% end %>
          <p style="margin-bottom:30px;"></p>
        </div>
      </div><!-- description -->
      <div id="message" class="tab-pane fade">
        <div id="campaign-info">
          <h2><%= I18n.t(:recipients) %></h2>
          <p><%= I18n.t(:recipients_show) %></p>
            <ul>
              <% @campaign.recipients.gsub('@', '[arroba]').split(' ').each do |dest| %> 
                <li><%= dest %></li>
              <% end %>
            </ul>
            <hr />
            <h2><%= I18n.t(:message) %></h2>
            <b><%= I18n.t(:subject) %></b>: <%= @campaign.default_message_subject %> 
          <p>
            <pre><%= @campaign.default_message_body %></pre>
          </p>
        </div>
      </div><!-- message -->
      <% unless @campaign.status == 'archived' %>
        <div id="stats" class="tab-pane fade">
          <%= render :partial => "stats_chart" %>
        </div><!-- message -->
      <% end %>

    </div><!-- tab-content -->

    </div><!-- show-campaign-detail-main -->
        

    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar" class="grid_8">
      
      <% unless @campaign.status == 'archived' %>

        <% if @has_participated %>

          <div id="show-campaign-petition">
            <%= render :partial => 'has_participated' %>
          </div>

        <% else %>

          <% if @campaign.ttype == 'petition' %>
            <div id="show-campaign-petition">
              <%= render :partial => 'petition_form' %>
            </div>
          <% end %>
  
          <% if @campaign.ttype == 'mailing' %>
            <div id="show-campaign-mailing">
              <%= render :partial => 'mailing_form' %>
            </div>
          <% end %>

        <% end %>
        
        <h2 class="jtc"><%= I18n.t(:spread) %></h2>
        <div id="diffusion">
          <%= I18n.t(:spread_info) %>
          <%= link_to t(:spread_form), @sub_oigame ? integrate_sub_oigame_campaign_path(@sub_oigame, @campaign) : integrate_campaign_path(@campaign), :class => "btn btn-large btn-primary center" %>
        </div>

        <%= render :partial => "communication", :locals => { :share_url => CGI::escape(APP_CONFIG[:domain]+"/campaigns/"+@campaign.slug) } %>

      <% end %>


    </div><!-- show-campaign-sidebar -->
  </div><!-- show-campaign -->
</div><!-- campaigns-wrapper -->
