<% @page_title = @campaign.name %>

<div id="campaigns-wrapper">
  <div id="show-campaign">
    <div id="show-campaign-detail">
      <h2>
        <%= @campaign.name %>
        <% if @campaign.user == current_user %>
          <span class="label notice">
            <%= link_to t(:edit_campaign), edit_campaign_path(@campaign) %>
          </span>
        <% end %>
      </h2>
      <div id="social-buttons">
          <g:plusone size="medium" href="http://<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign.slug %>"></g:plusone>
          <a href="http://twitter.com/share" class="twitter-share-button" data-text="<%= @campaign.name %>" data-count="horizontal" data-via="oigame" data-related="alabs_es" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          <iframe allowtransparency="true" src="http://www.facebook.com/plugins/like.php?href=http://<%= APP_CONFIG[:domain] %>/campaigns/<%= @campaign.slug %>&amp;layout=button_count&amp;show_faces=false&amp;width=110&amp;height=21&amp;action=like&amp;font=arial&amp;colorscheme=light" style="border:none; overflow:hidden; width:110px; height:21px" frameborder="0" scrolling="no"></iframe>
      </div><!-- social-buttons -->
      <%= image_tag(@campaign.image_url.to_s) %>
      <%= @campaign.to_html(@campaign.intro).html_safe %> 
      <%= @campaign.to_html(@campaign.body).html_safe %> 
      <p id="this-campaign-link"><%= link_to t(:join_this_campaign), '#show-campaign-sidebar', :id => 'join-this-campaign-link' %></p>
    </div><!-- show-campaign-detail -->
    <div id="show-campaign-sidebar">
      <h2 id="jtc"><%= t(:join_this_campaign) %></h2>
      <div id="campaign-message-form" class="form-stacked">
        <%= form_tag message_campaign_path do %>
          <fieldset>
            <div class="form-field">
              <%= label_tag t(:your_email) %>
              <%= email_field_tag :email, nil, :required => true, :placeholder => 'Tu correo electrónico', :class => 'span5' %>
            </div>
            <div class="form-field">
              <%= label_tag t(:subject) %>
              <%= text_field_tag :subject, nil, :required => true, :placeholder => 'Asunto del mensaje', :class => 'span5' %>
            </div>
            <div class="form-field">
              <%= label_tag t(:message) %>
              <%= text_area_tag :body, nil, :required => true, :placeholder => 'Mensaje a enviar', :class => 'span5', :rows => 10 %>
            </div>
            <div class="form-actions">
              <%= submit_tag t(:send_message), :class => 'btn primary' %>
              <button class="btn" type="reset"><%= t(:cancel) %></button>
            </div>
          </fieldset>
        <% end %>
      </div><!-- campaign-message-form -->
      <div id="campaign-stats">
        <h2><%= t(:campaign_stats) %></h2>
        <p style="font-size: 1.3em;"><a href="#" id="show-modal-stats-window">Aquí las gráficas de jqPlot</a></p>

        <div id="modal-stats-window" style="display:none;">
          <h1>Hola modal</h1>
          <div id="stats-data" style="display: none;"><%= @stats_data %></div>
          <div id="chart_messages"></div>
          <div class="actions">
              <button class="primary close-dialog">Cerrar</button>
          </div>
        </div>

      </div><!-- campaign-stats -->
      <div id="integrate-this-campaign">
        <h2>Integra esta campaña en tu sitio</h2>
        <p style="font-size: 1.3em;">Aquí el Javascript para integrar esta campaña en otro sitio web.</p>
      </div>
    </div><!-- show-campaign-sidebar -->
  </div><!-- show-campaign -->
</div><!-- campaigns-wrapper -->
