<% @page_title = @campaign.name %>
<% @in_campaign = true %>

<article class="row-fluid">
<div class="span8">
  <div class="contenedorcampaign">
    <div class="img-wrap">
      <div class="image-show-campaign"><%= image_tag @image_src, :alt => @campaign.name %></div>
      <div class="img-overlay text-show-campaign">
        <h1 style="font-size: 35px;"><%= @campaign.name.capitalize %></h1>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <dl class="dl-horizontal">
        <dt><%= t(:created_by) %></dt>
        <dd>
        <img class="creada" src="<%= avatar_url(@campaign.user.email) %>"alt="<%= @campaign.user.name %>"/>
        <span class="creador_name"><%= @campaign.user.name %></span>
        </dd>
        <% if @campaign.ttype == "fax" %>
          <dt><%= t(:credits) %></dt>
          <dd>
          <%= @campaign.credit.to_i %> (<%= link_to t(:add_credit),add_credit_campaign_path %>)
          </dd>
        <% end %>
        <dt><%= t(:published_at) %></dt>
        <dd><%= time_ago_in_words(@campaign.created_at) %></dd>
        <dt><%= t(:time_left) %></dt>
        <dd><%= (@campaign.duedate_at - Time.now).round / 60 / 60 / 24 %> <%= t(:days) %></dd>
        <dt><%= t(:type) %></dt>
        <dd><i class="<%= @campaign.ttype_img %>"></i> <%= @campaign.ttype_name %> </dd>
        </dt>
      </div>

      <div id="progressbar" class="span6">
        <progress id="bar" value="<%= @campaign.participants_count %>" max="<%= @campaign.target %>"></progress>
        <h3 id="recogidas"><span class="highlighted"><%= @campaign.messages_count %></span> <%= @campaign.ttype_message %></h3>

        <div class="circle2"><i class="icon-signin icon-large"></i>
          <p id="necesarias"><span class="underlined"><%= @campaign.participants_count %></span> <%= t(:people_have_already_participated) %></p>
        </div>

        <div class="circle2"><i class="icon-signin icon-large"></i>
          <p id="necesarias"><%= t(:miss) %><span class="underlined"><%= @campaign.obj_minus_gotten_result %></span> <%= t(:more) %>!</p>
        </div>
      </div>

    </div><!-- welcome -->


    <div>

      <ul class="nav nav-tabs line-tabs">
        <li class="active"><a href="#desc" data-toggle="tab" title="<%= t(:description) %>"><span><%= t(:description) %></span></a></li>
        <li><a href="#stats" data-toggle="tab" title="<%= t(:stats) %>"><span><%= t(:stats) %></span></a></li>
        <%= render :partial => "options_dropdown", :locals => { :campaign => @campaign, :sub_oigame => @sub_oigame } %>
        <% unless @campaign.ttype == "petition" %>
          <li><a href="#recip" data-toggle="tab" title="<%= t(:recipients) %>"><span><%= t(:recipients) %></span></a></li>
        <% end %>
      </ul>

      <div class="topcontent tab-content">

        <div id="stats" class="tab-pane fade">
          <%= render :partial => "stats_chart", :locals => {:campaign => @campaign} %>
        </div>

        <div id="recip" class="tab-pane fade">
          <p>
          <%= t('your_message_will_be_sent_to') %>
          </p>
          <%= simple_format @campaign.recipients_list %>
        </div>

        <div id="desc" class="active tab-pane">
          <div id="campaign-info">
            <%= @description %>
          </div>
          <div id="campaign-info">
            <%= @campaign.to_html(@campaign.body).html_safe %>
          </div>
          <% if @message_body || @message_subject %>
            <div id="carta">
              <%= "<p><b>#{t(:subject)}:</b> #{@message_subject}</p>".html_safe if @message_subject %>
              <p><b><%= @campaign.ttype == "fax" ? t(:fax) : t(:message) %>:</b></p>
              <p><%= @message_body %></p>
            </div>
            <div class="sombracarta">
              <%= image_tag 'shadow2.png' %>
            </div>
          <% end %>

          <% if @campaign.commentable %>
            <p style="margin-bottom:30px;"></p>
            <div id="participants">
              <!-- FB COMMENTS -->
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-comments" data-href="<%= campaign_url %>" data-num-posts="6"></div>
            </div><!-- participants -->
          <% end %>

        </div><!-- description -->
      </div><!-- tab-content -->
    </div><!-- inner-tabs -->

  </div><!-- span8 -->

  <div class="span4">
    <div class="sidefirma">
      <% if @campaign.ttype == 'fax' && @campaign.credit <= 5 %>
        <%= render partial: 'fax_no_credit' %>
      <% elsif @campaign.archived? %>
        <%= render partial: 'is_archived' %>
      <% elsif @campaign.has_participated? current_user %>
        <%= render partial: 'has_participated' %>
      <% else %>
        <%= render partial: 'sign_form' %>
      <% end %>
      <div id="redes">
        <ul class="inline">
          <li>
          <a href="https://twitter.com/intent/tweet?button_hashtag=<%= @campaign.hashtag %>&text=<%= URI.escape(@campaign.name) %>" class="twitter-hashtag-button" data-lang="es" data-related="oigame" data-url="<%= @campaign.get_absolute_url %>">Tweet #<%= @campaign.hashtag %></a>
          </li>
          <br />
          <li>
          <a href="#" class="fb_ui_button">
            <i class="icon-facebook"></i>
            <span>Compartir</span>
          </a>
          </li>
        </ul>
      </div>
    </div><!-- sidefirma -->
  </div> <!-- span4 -->

  </article> <!-- row-fluid -->

  <br clear="all">

