
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= msg %>
  </div>
<% end %>

<div id="header-wrapper" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag("logo_oigame.png"), root_path, :class => "brand" %>
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav navbar-text pull-right inline">
          <% if current_user %>
            <li>
            <%= link_to edit_user_registration_path do %>
              <img style="width:30px;" src="<%= avatar_url(current_user.email) %>" alt="<%= current_user.email %>"/>
              <b style="margin-bottom: 100px;"><%= current_user.name %></b>
            <% end %>
            </li>
            <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to t(:create_account), new_user_registration_path %></li>
            <li id="login-link"><%= link_to t(:login), new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>

          <li>
          <select data-lang="<%= I18n.locale %>" id="js-language-selector" class="language-selector">
            <option data-lang="es" value='<%= url_for(:locale => "es") %>'>ES</option>
            <option data-lang="en" value='<%= url_for(:locale => "en") %>'>EN</option>
          </select>
          </li>
        </ul>
        <ul class="nav">
          <li id="header-campaigns"><%= link_to t(:campaigns), campaigns_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<% if defined? @header_top %>
  <div class="paper page-header-top">
    <div class="container-fluid">
      <h1><%= @header_top %></h1>
    </div>
  </div>
<% end %>
