<% @page_title = t(:propose_campaign) %>


<div class="row-fluid">
  
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

<div class="span12">

<div id="page-wrapper">
  <div id="create-campaigns">
    <div id="create-campaign-form" class="form-stacked">
      <h2><%= @page_title %></h2>
<%# si no obtiene el @sub_oigame lo hace al general (/campaigns) %>

<% if params[:action] == "new" %>
  <% if @sub_oigame %>
    <% url = url_for(:action=> "create", :controller=> "campaigns", :sub_oigame_id => @sub_oigame) %>
  <% else %>
    <% url = url_for(:action=> "create", :controller=> "campaigns") %>
  <% end %>
<% end %>

<% if params[:action] == "edit" %>
  <% if @sub_oigame %>
    <% url = sub_oigame_campaign_path(@sub_oigame, @campaign) %>
  <% else %>
    <% url = campaign_path(@campaign) %>
  <% end %>
<% end %>

      <ol class="progtrckr" data-progtrckr-steps="3">
          <li class="progtrckr-done"><%= t(:step_1) %></li>
          <li class="progtrckr-todo"><%= t(:step_2) %></li>
          <li class="progtrckr-todo"><%= t(:step_3) %></li>
      </ol>

<%= form_for @campaign, :url => campaign_wizard_path, :method => :put do |f| %>
  <fieldset>
    <legend><%= t(:please_fill_the_form) %></legend>
    <div class="control-group">
      <%= f.label :image, t(:image_of_campaign), :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :image, :class => 'input-file', :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.image_help'), 'data-original-title' => t(:image_of_campaign) %>
        <p><%= I18n.t(:minimal_size) %></p>
        <% unless @campaign.errors[:image].blank? %>
          <span class="error_message"><%= @campaign.errors[:image].to_sentence %></span>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :video_url, t(:video_url), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :video_url, :class => 'input-file', :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.video_help'), 'data-original-title' => t(:video_url) %>
        <% unless @campaign.errors[:video_url].blank? %>
          <span class="error_message"><%= @campaign.errors[:video_url].to_sentence %></span>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :intro, t(:intro_of_campaign), :class => 'control-label' %>
      <div class="controls">
      <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        <%= f.text_area :intro, :rows => 6, :class => 'span6 editable', :required => true, :placeholder => t(:intro_of_campaign_help), :maxlength => 500, :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.intro_help'), 'data-original-title' => t(:intro_of_campaign) %>
        <p><%= I18n.t(:intro_limit) %></p>
      </div>
      <% unless @campaign.errors[:intro].blank? %>
        <span class="error_message"><%= @campaign.errors[:intro].to_sentence %></span>
      <% end %>
    </div>
  </div>
    <div id="control-group">
      <div class="controls">
        <%= f.submit t('oigame.wizard.next_step'), :class => 'btn btn-inverse' %>
      </div>
    </div>
  </fieldset>
<% end %>
    </div><!-- create-campaign-form -->
  </div><!-- create-campaigns -->
</div><!-- campaigns-wrapper -->

</div>

</div>

