<% @page_title = t(:propose_campaign) %>


<div class="row-fluid">

  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

  <div class="span12">

    <div id="page-wrapper">
      <div id="create-campaigns">
        <div id="create-campaign-form" class="form-stacked">
          <h2><%= @page_title %></h2>

          <ol class="progtrckr" data-progtrckr-steps="3">
            <li class="progtrckr-done"><%= t(:step_1) %></li>
            <li class="progtrckr-done"><%= t(:step_2) %></li>
            <li class="progtrckr-todo"><%= t(:step_3) %></li>
          </ol>

          <%= form_for @campaign, :url => url_for_campaign_form, :method => :put do |f| %>
            <fieldset>
              <legend><%= t(:please_fill_the_form) %></legend>
              <div class="control-group">
                <%= f.label :body, t(:body_of_campaign), :class => 'control-label' %>
                <div class="controls">
                  <div class="wmd-panel">
                    <div id="wmd-button-bar-second"></div>
                    <%= f.text_area :body, :id => 'wmd-input-second', :rows => 10, :class => 'span6 editable', :required => true, :placeholder => t(:body_of_campaign_help), :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.body_help'), 'data-original-title' => t(:body_of_campaign) %>
                  </div>
                  <% unless @campaign.errors[:body].blank? %>
                    <span class="error_message"><%= @campaign.errors[:body].to_sentence %></span>
                  <% end %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :category, t(:category_of_campaign), :class => 'control-label' %>
                <div class="controls">
                  <%= collection_select(:campaign, :category_id, Category.all, :id, :name, :prompt => t(:category_of_campaign) ) %>
                </div>
              </div>

              <div class="control-group campaign-ttype">
                <%= f.label :ttype, t(:type_of_campaign), :class => 'control-label' %>

                <% Campaign::TYPES.select do |k,v| %>
                  <div class="controls">
                    <%= f.radio_button :ttype, k, :rel => 'popup_ayuda', 'data-content' => t("oigame.wizard.#{k}_help"), :class => "campaign-choose", 'data-original-title' => v[:name], 'data-placement' => 'top' %>
                    <%= f.label :ttype, :value => k do %>
                      <i class="<%= v[:img] %> icon-2x"></i>
                      <%= v[:name] %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="control-group form-campaign hide">
                <%= f.label :recipients, t(:recipients), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :recipients, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:recipients_help) %>
                </div>
              </div>
              <div class="control-group form-campaign hide">
                <%= f.label :default_message_subject, t(:default_message_subject), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :default_message_subject, :class => 'span6', :required => true, :placeholder => t(:default_message_subject) %>
                </div>
              </div>
              <div class="control-group form-campaign hide">
                <%= f.label :default_message_body, t(:default_message_body), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :default_message_body, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:default_message_body_help) %>
                </div>
              </div>
              <div class="control-group form-fax hide">
                <%= f.label :faxes_recipients, t(:faxes_recipients), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :faxes_recipients, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:faxes_recipients_help) %>
                </div>
              </div>
              <div class="control-group form-fax hide">
                <%= f.label :default_message_body, t(:default_message_body), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_area :default_message_body, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:default_message_body_help) %>
                </div>
              </div>
              <div class="control-group form-field">
                <%= f.check_box :identity_card, :checked => false %> <span class="note"><%= t(:request_identity_card) %></span>
              </div>
              <div class="control-group form-field">
                <%= f.check_box :postal_code, :checked => false %> <span class="note"><%= t(:request_postal_code) %></span>
              </div>
              <div class="control-group form-field">
                <%= f.check_box :state, :checked => false %> <span class="note"><%= t(:request_state) %></span>
              </div>
              <div class="control-group form-field">
                <div class="controls">
                  <%= f.check_box :commentable, :checked => true, :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.comment_help') %> <span class="note"><%= t(:enable_comments) %></span>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :target, t(:number_of_people), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :target, :class => 'span6', :placeholder => t(:number_of_people), :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.people_help'), 'data-original-title' => t(:number_of_people) %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :duedate_at, t(:due_date_of_campaign), :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :duedate_at, :class => "datepicker", :required => true, :rel => 'popup_ayuda', 'data-content' => t('oigame.wizard.date_help'), 'data-original-title' => t(:due_date_of_campaign) %>
                  <% unless @campaign.errors[:duedate_at].blank? %>
                    <br />
                    <span class="error_message"><%= @campaign.errors[:duedate_at].to_sentence %></span>
                  <% end %>
                </div>
              </div>
              <div class="alert alert-info alert-campaign">
                <p><b><%= t('oigame.wizard.finish_line_1') %></b></p>
                <p><%= t('oigame.wizard.finish_line_2') %></p>
                <p><%= t('oigame.wizard.finish_line_3') %></p>
                <p><%= t('oigame.wizard.finish_line_4') %></p>
                <p><%= t('oigame.wizard.finish_line_5') %></p>
                <p><%= t('oigame.wizard.finish_line_6_html') %></p>
              </div>
              <div id="control-group">
                <div class="controls">
                  <%= link_to t('oigame.wizard.previous_step'), campaign_wizard_path(@campaign.slug, :first), :class => 'btn btn-inverse' %>
                  <%= f.submit t('oigame.wizard.create_campaign'), :class => 'btn btn-inverse' %>
                </div>
              </div>
            </fieldset>
          <% end %>

        </div><!-- create-campaign-form -->
      </div><!-- create-campaigns -->
    </div><!-- campaigns-wrapper -->

  </div>

</div>

