<% @page_title = t(:propose_campaign) %>


<div class="row-fluid">
  
  <%= render :partial => 'partials/diferencial' %>
  <%= render :partial => 'partials/logo' %>

<div class="span7">

<div id="page-wrapper">
  <div id="create-campaigns">
    <div id="create-campaign-form" class="form-stacked">
      <h2><%= @page_title %></h2>

<%= form_for @campaign, :url => campaign_wizard_path, :method => :put do |f| %>
  <fieldset>
    <legend><%= t(:please_fill_the_form) %></legend>
    <div class="control-group">
      <%= f.label :body, t(:body_of_campaign), :class => 'control-label' %>
      <div class="controls">
      <div class="wmd-panel">
        <div id="wmd-button-bar-second"></div>
        <%= f.text_area :body, :class => 'wmd-input', :id => 'wmd-input-second', :rows => 10, :class => 'span6', :required => true, :placeholder => t(:body_of_campaign_help) %>
      </div>
      <a href="#" class="show_markdown_help"><%= I18n.t(:markdown_help_show) %></a>
      <div class="markdown_help" style="display:none;">
        <%= render :partial => 'campaigns/markdown_help' %>
      </div>
      <% unless @campaign.errors[:body].blank? %>
        <span class="error_message"><%= @campaign.errors[:body].to_sentence %></span>
      <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :category, t(:category_of_campaign), :class => 'control-label' %>
      <div class="controls">
      <%= collection_select(:campaign, :category_id, Category.all, :id, :name, :prompt => t(:category_of_campaign) ) %>
    </div>
    </div>

    <div class="control-group campaign-ttype">
      <%= f.label :ttype, t(:type_of_campaign), :class => 'control-label' %>

      <% Campaign::TYPES.select do |k,v| %>
        <div class="controls">
          <%= f.radio_button :ttype, k %>
          <%= image_tag "activista.png" %>
          <%= f.label :ttype, v, :value => k %>
        </div>
      <% end %>
    </div>

    <div class="control-group form-campaign hide">
      <%= f.label :recipients, t(:recipients), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :recipients, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:recipients_help) %>
      </div>
    </div>
    <div class="control-group form-campaign hide">
      <%= f.label :default_message_subject, t(:default_message_subject), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :default_message_subject, :class => 'span6', :required => true, :placeholder => t(:default_message_subject) %>
      </div>
    </div>
    <div class="control-group form-campaign hide">
      <%= f.label :default_message_body, t(:default_message_body), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :default_message_body, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:default_message_body_help) %>
      </div>
    </div>
    <div class="control-group form-fax hide">
      <%= f.label :faxes_recipients, t(:faxes_recipients), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :faxes_recipients, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:faxes_recipients_help) %>
      </div>
    </div>
    <div class="control-group form-fax hide">
      <%= f.label :default_message_body, t(:default_message_body), :class => 'control-label' %>
      <div class="controls">
      <%= f.text_area :default_message_body, :rows => 10, :class => 'span6', :required => true, :placeholder => t(:default_message_body_help) %>
    </div>
    </div>
    <div class="control-group form-field">
      <%= f.label :commentable, t(:enable_comments), :class => 'control-label' %>
      <div class="controls">
      <%= f.check_box :commentable, :checked => true %> <span class="note"><%= t(:enable_comments) %></span>
    </div>
    </div>
    <div class="control-group">
      <%= f.label :target, t(:number_of_people), :class => 'control-label' %>
      <div class="controls">
      <%= f.text_field :target, :class => 'span6', :placeholder => t(:number_of_people) %>
    </div>
    </div>
    <div class="control-group">
      <%= f.label :duedate_at, t(:due_date_of_campaign), :class => 'control-label' %>
      <div class="controls">
      <%= f.text_field :duedate_at, :class => "datepicker", :required => true %>
      <% unless @campaign.errors[:duedate_at].blank? %>
        <br />
        <span class="error_message"><%= @campaign.errors[:duedate_at].to_sentence %></span>
      <% end %>
    </div>
    </div>
    <div id="control-group">
      <div class="controls">
      <%= link_to 'Anterior paso', campaign_wizard_path(@campaign.slug, :first), :class => 'btn btn-inverse btn-large' %>
      <%= f.submit 'Crear campaña', :class => 'btn btn-primary btn-large' %>
    </div>
    </div>
  </fieldset>
<% end %>



    </div><!-- create-campaign-form -->
  </div><!-- create-campaigns -->
</div><!-- campaigns-wrapper -->

</div>

</div>

