<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - oiga.me</title>
    <%= stylesheet_link_tag 'main' %>
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19861474-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {lang: 'es'}
    </script>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div class="<%= "flash-#{name}" %> flash-messages">
        <a class="close" href="#">x</a>
        <%= content_tag :p, msg %>
      </div>
    <% end %>
    <div id="header-wrapper">
      <div id="user-actions-wrapper">
        <div id="user-actions">
          <ul>
            <% unless user_signed_in? %>
              <li><%= link_to t(:create_account), new_user_registration_path %></li>
              <li><%= link_to t(:login), new_user_session_path %></li>
            <% else %>
              <li><%= link_to t(:my_account), edit_user_registration_path %></li>
              <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="header">
        <div id="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>
        <div id="corner">
          <%= link_to "peta", root_path %>
        </div>
        <div id="navbar">
          <ul class="pills">
            <% unless user_signed_in? %>
              <li id="header-signup"><%= link_to t(:join_oigame), new_user_registration_path %></li>
            <% end %>
            <li id="header-campaigns"><%= link_to t(:campaigns), campaigns_path %></li>
            <li id="header-community"><%= link_to t(:community), 'http://community.oiga.me/' %></li>
            <li id="header-donate"><%= link_to t(:donate), donate_path %></li>
            <li id="header-help"><%= link_to t(:help), help_path %></li>
          </ul>
        </div>
      </div>
    </div><!-- header-wrapper -->
    <%= yield %>
    <div id="links-wrapper">
      <div id="links">
        <div id="links-logo">
          <%= image_tag('logo-small.png') %>
        </div>
        <div id="links-message">
          <p>Nuestro consejo social advierte: oiga.me puede ser beneficioso para la salud democrática de su estado y elevar sus niveles de participación ciudadana.</p>
        </div>
        <div id="links-social">
          <span>Encuéntranos en:</span><br />
          <%= link_to image_tag('facebook.png'), 'https://www.facebook.com/oiga.me' %>
          <%= link_to image_tag('twitter.png'), 'https://twitter.com/oigame' %>
        </div>
      </div>
    </div><!-- links-wrapper -->
    <div id="footer-wrapper">
      <div id="footer-main">
        <div id="info-links">
          <p><span style="color:#fff;">&copy; 2010-<%= Time.now.year %> Algunos derechos reservados</span> | <%= link_to t(:privacy_policy), privacy_policy_path %> | <%= link_to t(:developers), 'https://github.com/alabs/oigame' %></p>
          <p style="color: #fff;">Mientras no se exprese lo contrario, el contenido de este sitio tiene <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES" style="color:red;">esta licencia</a> Creative Commons.</p>
        </div>
        <div id="footer-donate">
          <p style="color:#fff;">Creado y mantenido por:</p>
          <p><%= link_to image_tag('logo-alabs.png'), 'http://alabs.es/' %></p>
        </div>
      </div><!-- footer -->
    </div><!-- footer-wrapper -->
    <div id="modal-beta-notice" style="display:none;">
      <h1>Aviso importante</h1>
      <p style="font-size: 120%;">
        Te damos la bienvenida a oiga.me, la plataforma creada por <a
          href="http://alabs.es/">aLabs</a> para crear campañas de movilización
        social. Esta web que estas viendo es una versión beta, que aunque
        funcional no es operativa todavía. Por lo tanto los usuarios que te
        crees y el contenido que subas al servidor podrá ser borrado en
        cualquier momento. La primera versión estable estará disponible en la
        dirección web: <a href="http://oiga.me/">http://oiga.me/</a>
      </p>

      <p style="font-size: 120%;">
        Disfruta y fluye por el sitio.
      </p>
      <div class="actions">
          <button class="close-dialog btn primary">Cerrar</button>
      </div>
    </div>
    <% if Rails.env == 'development' %>
      <div id="debug">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
