<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - oiga.me</title>
    <%= stylesheet_link_tag 'http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container_24">
           <ul id="navbar" class="nav">
            <li><%= link_to t(:join_oigame), new_user_registration_path %>
            <li><%= link_to t(:campaigns), '#' %></li>
            <li><%= link_to t(:community), '#' %></li>
            <li><%= link_to t(:donate), '#' %></li>
            <li><%= link_to t(:media), '#' %></li>
            <li><%= link_to 'Testing', testing_path %></li>
           </ul>
           <form id="search-form" action="">
             <span class="glass"><i></i></span>
             <input type="text" placeholder="Buscar">
           </form>
           <ul id="sessions" class="nav secondary-nav">
             <% unless user_signed_in? %>
               <li class="dropdown">
                 <a id="user-login-session" class="dropdown-toggle" href="#">Iniciar sesión</a>
                 <ul class="login-form dropdown-menu" id="login-form-ul">
                   <li>
                     <div id="login-form" class="form-stacked">       
                       <form action="/users/login" class="signin" method="post">
                         <fieldset class="textbox">
                           <label class="username">
                             <span>Nombre de usuario o correo electrónico</span>
                              <input type="email" id="email" value="" name="user[email]" autocomplete="on" />
                           </label>
                           <label class="password">
                             <span>Contraseña</span>
                             <input type="password" value="" name="user[password]" />
                           </label>
                          </fieldset>
                          <fieldset class="subchck">
                           <label class="remember">
                             <input type="checkbox" value="1" name="user[remember_me]" />
                             <span>Recuerda mis datos</span>
                           </label>
                           <button type="submit" class="submit btn">Iniciar sesión</button>
                          </fieldset>
                          <p>
                           <%= link_to '¿Olvidaste tu contraseña?', new_user_password_path %>
                           <%= link_to '¿No tienes una cuenta todavía?', new_user_registration_path %>
                          </p>
                       </form>
                     </div>
                   </li>
                 </ul>
               </li><!-- dropdown -->
             <% else %>
               <li class="dropdown">
                <a id="user-actions" class="dropdown-toggle" href="#"><%= current_user.email %></a>
                <ul id="user-actions-options" class="dropdown-menu">
                  <li><%= link_to 'Configuración', '#' %></li>
                  <li><%= link_to 'Ayuda', '#' %></li>
                  <li><%= link_to 'Cerrar sesión', destroy_user_session_path, :method => 'delete' %></li>
                </ul>
               </li>
             <% end %>
           </ul>
         </div>
      </div>
    </div><!-- topbar -->
    <%= yield %>
    <div id="footer">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <% if Rails.env == 'development' %>
        <div id="debug">
          <%= debug(params) %>
        </div>
      <% end %>
    </div><!-- footer -->
  </body>
</html>
