<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - oiga.me</title>
    <%= stylesheet_link_tag 'bootstrap-1.2.0.min' %>
    <%= stylesheet_link_tag 'slideshow' %>
    <%= stylesheet_link_tag 'nivo-slider' %>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/vyJKUH9hro9s2yOsARJQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header">
        <div id="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>
        <div id="navbar">
          <ul>
            <li class="btn danger"><%= link_to t(:join_oigame), new_user_registration_path %></li>
            <li class="btn danger"><%= link_to t(:campaigns), campaigns_path %></li>
            <li class="btn danger"><%= link_to t(:community), '#' %></li>
            <li class="btn danger"><%= link_to t(:donate), '#' %></li>
            <li class="btn danger"><%= link_to t(:media), '#' %></li>
          </ul>
        </div>
      </div>
    </div><!-- header-wrapper -->
    <%= yield %>
    <div id="links-wrapper">
      <div id="links">
        <div id="links-logo">
          <%= image_tag('logo-small.png') %>
        </div>
        <div id="links-message">
          <p>Nuestro consejo social advierte: oiga.me puede ser beneficioso para la salud democrática de su estado y elevar sus niveles de participación ciudadana.</p>
        </div>
        <div id="links-social">
          <span>Encuéntranos en:</span><br />
          <%= link_to image_tag('facebook.png') %>
          <%= link_to image_tag('twitter.png') %>
        </div>
      </div>
    </div><!-- links-wrapper -->
    <div id="footer-wrapper">
      <div id="footer-main">
        <div id="info-links">
          <p>&copy; 2010-<%= Time.now.year %> Algunos derechos reservados | <%= link_to t(:privacy_policy), '#' %> | <%= link_to t(:unsubscribe), '#' %></p>
        </div>
        <div id="footer-donate">
          <p><%= link_to 'Donar a oiga.me', '#' %></p>
        </div>
      </div><!-- footer -->
    </div><!-- footer-wrapper -->
  </body>
</html>
