<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - oiga.me</title>
    <%= stylesheet_link_tag 'main' %>
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/vyJKUH9hro9s2yOsARJQ.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {lang: 'es'}
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19861474-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div class="<%= "flash-#{name}" %> flash-messages">
        <a class="close" href="#">x</a>
        <%= content_tag :p, msg %>
      </div>
    <% end %>
    <div id="header-wrapper">
      <div id="user-actions-wrapper">
        <div id="user-actions">
          <ul>
            <% unless user_signed_in? %>
              <li><%= link_to t(:create_account), new_user_registration_path %></li>
              <li><%= link_to t(:login), new_user_session_path %></li>
            <% else %>
              <li><%= link_to t(:my_account), '#' %></li>
              <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="header">
        <div id="logo">
          <%= link_to image_tag('logo.png'), root_path %>
        </div>
        <div id="navbar">
          <ul class="pills">
            <% unless user_signed_in? %>
              <li id="header-signup"><%= link_to t(:join_oigame), new_user_registration_path %></li>
            <% end %>
            <li id="header-campaigns"><%= link_to t(:campaigns), campaigns_path %></li>
            <li><%= link_to t(:community), 'http://community.oiga.me/' %></li>
            <li><%= link_to t(:donate), '#' %></li>
            <li><%= link_to t(:help), '#' %></li>
          </ul>
        </div>
      </div>
    </div><!-- header-wrapper -->
    <%= yield %>
    <div id="links-wrapper">
      <div id="links">
        <div id="links-logo">
          <%= image_tag('logo-small.png') %>
        </div>
        <div id="links-message">
          <p>Nuestro consejo social advierte: oiga.me puede ser beneficioso para la salud democrática de su estado y elevar sus niveles de participación ciudadana.</p>
        </div>
        <div id="links-social">
          <span>Encuéntranos en:</span><br />
          <%= link_to image_tag('facebook.png'), 'https://www.facebook.com/oiga.me' %>
          <%= link_to image_tag('twitter.png'), 'https://twitter.com/oigame' %>
        </div>
      </div>
    </div><!-- links-wrapper -->
    <div id="footer-wrapper">
      <div id="footer-main">
        <div id="info-links">
          <p>&copy; 2010-<%= Time.now.year %> Algunos derechos reservados | <%= link_to t(:privacy_policy), '#' %> | <%= link_to t(:unsubscribe), '#' %></p>
        </div>
        <div id="footer-donate">
          <p><%= link_to 'Donar a oiga.me', '#' %></p>
        </div>
      </div><!-- footer -->
    </div><!-- footer-wrapper -->
    <% if Rails.env == 'development' %>
      <div id="debug">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
