<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# oigameapp: http://ogp.me/ns/fb/oigameapp#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title %> - oiga.me</title>
    <%= stylesheet_link_tag "application", :debug => Rails.env.development? %>
    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>" />
    <link rel="alternate" type="application/rss+xml" title="Última campañas de oiga.me" href="<%= APP_CONFIG[:domain] %>/campaigns/feed" />
    <%= show_meta_tags %>
    <% if @image_src %>
      <meta property="og:image" content="<%= APP_CONFIG[:domain] %><%= image_path(@image_src) %>" />
      <meta property="twitter:image" content="<%= APP_CONFIG[:domain] %><%= image_path(@image_src) %>" />
      <link rel="image_src" type="<%= `file --mime --brief #{@image_file}`.match(/(\w+\/\w+)/)[0] %>" href="<%= APP_CONFIG[:domain] %><%= image_path(@image_src) %>" />
    <% else %>
      <meta property="og:image" content="<%= APP_CONFIG[:domain] %><%= image_path('logo-small.png') %>" />
      <link rel="image_src" type="image/png" href="<%= APP_CONFIG[:domain] %><%= image_path('logo-small.png') %>" />
    <% end %>
    <%= csrf_meta_tags %>
    <meta name="generator" content="oiga.me - <%= Rails.env %>" />
    <link href="https://plus.google.com/109609067558669990733/" rel="publisher" />
    <%= render :partial => "partials/airbrake_javascript_http" %>

    <!--

           Esta web está hecha por la asociación aLabs (http://alabs.es).
           Puedes ver el código en https://github.com/alabs/oigame/

                       @@@@              @@@@                 @+`
                       @@@@              @@@@               @@@@@`
               `..`    @@@@      ,;;,    @@@@ ,;,    `:;:`   ,@@`
             `::::::.  @@@@    .@@@@@@:  @@@@@@@@@  @@@@@@@  @#@@
             ::::::::  @@@@    @@@@@@@@  @@@@@@@@@`:@@@@@@@#
            .:::`,:::. @@@@   :@@@.;@@@; @@@@ @@@@.@@@@ @@@@
            ,::: ,:::: @@@@   '@@@.,@@@+ @@@@ @@@@.@@@@ @@@@
            :::: ::::; @@@@   '@@@.'@@@# @@@@ @@@@.+@@@@
               .:::::; @@@@      :@@@@@# @@@@ @@@@. @@@@@#
             ,:::::::; @@@@    +@@@@@@@# @@@@ @@@@. .@@@@@@`
            `:::;,:::; @@@@   .@@@@,@@@# @@@@ @@@@.   #@@@@@
            ,:::`,:::; @@@@   '@@@,,@@@# @@@@ @@@@.#@@@ @@@@
            :::: ,:::; @@@@   '@@@.,@@@# @@@@ @@@@.+@@@ #@@@
            ,::: ::::; @@@@@@@'@@@.;@@@# @@@@ @@@@`:@@@ @@@@
            .::::::::; @@@@@@@.@@@@@@@@# @@@@@@@@@  @@@@@@@@
             ::::::::; @@@@@@@ @@@@'@@@# @@@@#@@@+  .@@@@@@`
              .:                `:`            :`     `::`

    -->
  </head>
  <body>

    <%= render :partial => 'header' %>

<style>
.page-header-top {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin: -20px 0 30px;
    padding: 20px 20px 10px;
}
</style>


    <% unless @sub_oigame.nil? %>
      <style>
        <%= @sub_oigame.html_style %>
      </style>
      <div id="sub_oigame-header">
        <%= sanitize @sub_oigame.html_header, :tags => %(a img div span p br table tr td u
l li ol h1 h2 h3 h4 h5 h6), :attributes => %w(id class src style href)  %>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
    </div>

    <% unless @sub_oigame.nil? %>
      <div id="sub_oigame-footer"> 
        <%= sanitize @sub_oigame.html_footer, :tags => %(a img div span p br table tr td u
l li ol h1 h2 h3 h4 h5 h6), :attributes => %w(id class src style href)  %>
      </div>
    <% end %>

    <%= render :partial => 'footer' %>

    <% if Rails.env == 'production' %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19861474-1']);
        _gaq.push(['_trackPageview']);
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
</script>
<% end %>
<script type="text/javascript">
  window.___gcfg = {lang: 'es'};
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-35996224-2']);
_gaq.push(['_trackPageview']);
(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=<%= APP_CONFIG[:FACEBOOK_APP_ID] %>";
 fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
(function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/plusone.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
<%= javascript_include_tag "application", :debug => Rails.env.development? %>
<% if Rails.env == 'development' %>
  <div id="debug">
    <%= debug(params) %>
  </div>
<% end %>
</body>
</html>
