<!DOCTYPE html>
<html lang="<%= I18n.locale %>" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title %> - oiga.me</title>
    <link href="/assets/responsivejavi.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="<%= image_path('favicon.png') %>" />
         <%= stylesheet_link_tag "demo" %>
    <%= stylesheet_link_tag "style_common" %>
    <%= stylesheet_link_tag "style10" %>
    <%= stylesheet_link_tag "responsive" %>

    <link rel="alternate" type="application/rss+xml" title="Última campañas de oiga.me" href="<%= APP_CONFIG[:domain] %>/campaigns/feed" />
    <meta property="og:title" content="<%= @page_title %> - oiga.me" />
    <% if @cause %>
    <meta property="og:type" content="cause" />
    <% else %>
    <meta property="og:type" content="website" />
    <% end %>
    <% if @image_src %>
    <meta property="og:image" content="<%= APP_CONFIG[:domain] %><%= image_path(@image_src) %>" />
    <link rel="image_src" type="<%= `file --mime --brief #{@image_file}`.match(/(\w+\/\w+)/)[0] %>" href="<%= APP_CONFIG[:domain] %><%= image_path(@image_src) %>" />
    <% else %>
    <meta property="og:image" content="<%= APP_CONFIG[:domain] %><%= image_path('logo-small.png') %>" />
    <link rel="image_src" type="image/png" href="<%= APP_CONFIG[:domain] %><%= image_path('logo-small.png') %>" />
    <% end %>
    <meta property="og:url" content="<%= url_for :only_path => false %>" />
    <% if @description %>
      <meta property="og:description" content="<%= strip_tags(@description) %> - oiga.me" />
      <meta name="description" content="<%= strip_tags(@description) %> - oiga.me" />
    <% else %>
      <meta property="og:description" content="<%= t(:description) %> - oiga.me" />
      <meta name="description" content="<%= t(:description) %> - oiga.me" />
    <% end %>
    <meta name="keywords" content="<%= t(:keywords) %>" />
    <meta property="fb:app_id" content="<%= APP_CONFIG[:facebook_app_id] %>"/>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <% if Rails.env == 'production' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19861474-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 
    <% end %>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {lang: 'es'}
    </script>
    <meta name="generator" content="oiga.me - <%= Rails.env %>" />
    <link href="https://plus.google.com/109609067558669990733/" rel="publisher" />
    <!--
               Esta web está hecha por la asociación aLabs (http://alabs.es). 
               Puedes ver el código en https://github.com/alabs/oigame/
       
                           @@@@              @@@@                 @+` 
                           @@@@              @@@@               @@@@@`
                   `..`    @@@@      ,;;,    @@@@ ,;,    `:;:`   ,@@` 
                 `::::::.  @@@@    .@@@@@@:  @@@@@@@@@  @@@@@@@  @#@@ 
                 ::::::::  @@@@    @@@@@@@@  @@@@@@@@@`:@@@@@@@#      
                .:::`,:::. @@@@   :@@@.;@@@; @@@@ @@@@.@@@@ @@@@      
                ,::: ,:::: @@@@   '@@@.,@@@+ @@@@ @@@@.@@@@ @@@@      
                :::: ::::; @@@@   '@@@.'@@@# @@@@ @@@@.+@@@@          
                   .:::::; @@@@      :@@@@@# @@@@ @@@@. @@@@@#        
                 ,:::::::; @@@@    +@@@@@@@# @@@@ @@@@. .@@@@@@`      
                `:::;,:::; @@@@   .@@@@,@@@# @@@@ @@@@.   #@@@@@      
                ,:::`,:::; @@@@   '@@@,,@@@# @@@@ @@@@.#@@@ @@@@      
                :::: ,:::; @@@@   '@@@.,@@@# @@@@ @@@@.+@@@ #@@@      
                ,::: ::::; @@@@@@@'@@@.;@@@# @@@@ @@@@`:@@@ @@@@      
                .::::::::; @@@@@@@.@@@@@@@@# @@@@@@@@@  @@@@@@@@      
                 ::::::::; @@@@@@@ @@@@'@@@# @@@@#@@@+  .@@@@@@`      
                  .:                `:`            :`     `::`        
         
    -->
  </head>
  <body>


    <div class="navbar navbar-inverse navbar-top ">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
                        

  

      <div class="span2 people">  
        <ul class="pull-left">
           <li><%= image_tag("altavozpk.png") %> <label><%= @total_published_campaigns %> <%= t(:campaigns) %></label></li>
           <li><%= image_tag("mensajespk.png") %> <label><%= @total_signs %> <%= t(:firms) %></label></li>
           <li><%= image_tag("pollolevantandolamano.png") %> <label><%= @total_users %> <%= t(:users) %></label></li>
           <li><%= image_tag("world.png") %> <label>2 <%= t(:languages) %></label></li>
        </ul>
      </div>

            <div class="span4 oigame">        
           <%= image_tag("oigame.png") %>         
           </div>


      
      <div class="span2 pull-right idioma">
            <div class="navbar-text pull-right">
              <% unless user_signed_in? %>
                <li><%= link_to t(:create_account), new_user_registration_path %></li>
                <li id="login-link"><%= link_to t(:login), new_user_session_path, :class => 'navbar-link' %></li>
              <% else %>
                <li><%= link_to t(:my_account), edit_user_registration_path %></li>
                <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
              <% end %>
            </div>
              <ul class="nav pull-right">              
              <li><%= link_to 'ES', url_for(:locale => 'es') %></li>
              <li><%= link_to 'EN', url_for(:locale => 'en') %></li>           
            </ul>

      </div>
          <div class="nav-collapse collapse">
         
             <ul class="nav pull-right">
              <li class="active"><%= link_to t(:home), root_path %></li>
              <li><%= link_to t(:about), about_path %></li>
              <li><%= link_to t(:create), new_campaign_path %></li>
              <li><%= link_to t(:campaigns), campaigns_path %></li>
              <li><%= link_to t(:search), search_campaigns_path %></li>
              <li><%= link_to t(:donate), donate_path %></li>
              <li><%= link_to t(:help), help_path %></li>              
              <li><%= link_to t(:contact), contact_path %></li>
            </ul>              
          </div><!--/.nav-collapse -->  
                 
        </div>
      </div>
    </div>

<div class="row pull-right sombra">  
  <%= image_tag("shadow2.png") %> 
</div>
<div class="row-fluid">
  <div class="span1 diferencial"> 
 <ul>
           <li><a href="#"><%= image_tag("99pk.png") %> </a></li>
           <li><a href="#"><%= image_tag("transparentpk.png") %> </a></li>
           <li><%= link_to image_tag('openpk.png'), 'https://github.com/alabs/oigame', :title => 'Github de oiga.me' %></li>
           
   </ul>
 
  </div>

  <div class="span3 logo"> 
       <%= image_tag("altavoz5.png") %>       
  </div>

 
   
    
     <div id="myCarousel" class="span7 carousel slide">
      <!-- Carousel items -->
        <div class="carousel-inner">
<<<<<<< HEAD
          <div class="active item"><%= image_tag("afrika.png") %> </div>
        <div class="item"><%= image_tag("doit2.jpg") %></div>
        
        
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    <div class="carousel-caption">
                      <div id="izquierda" class="span5">                
                        <h4>Africa: Save Africa from the FMI</h4>                  
=======

        <% @campaigns_carousel.each do |campaign| %>
          <% if campaign == @campaigns_carousel.first %>
            <div class="active item"><%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
>>>>>>> 61231f29979004a20bd2dc80b32fd3429c253640
                     </div>

                    <div id="derecha" class="span3">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
            </div>
          <% else %>
            <div class="item"><%= link_to image_tag(campaign.image_url(:home)), campaign %>
                  <div class="carousel-caption">
                      <div id="izquierda" class="span4">                
                      <h4><%= link_to campaign.name, campaign %></h4>                  
                     </div>

                    <div id="derecha" class="span3">
                      <div id="avatar">
                          <%= image_tag(avatar_url(campaign.user.email)) %>
                         <% if campaign.user.name.blank? %>
                           <h4>Pobrecito hablador</h4>
                         <% else %>
                           <h4><%= campaign.user.name %></h4>
                         <% end %>
                       
                      </div> 
                      
                    </div>
                    <div class="progress progress-info progress-striped">
                        <div class="bar" style="width: 50%"></div>
                    </div>

                    <div id="iconoscampa" >  
                                 <ul>
                                    <li><a href="#"><%= image_tag("world.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("agro.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("politics.png") %> </a></li>
                                     <li><a href="#"><%= image_tag("budget.png") %> </a></li>    
   
                                 </ul>
                      </div>
                    </div><!-- carousel-caption -->
            </div>
          <% end %>
        <% end %>
        
        
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>



    </div>   




    <div id="realtime" class="span3 hidden-phone">
            <ul>
              <li>
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
                            <li>
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
                            <li>
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
                            <li>
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
                            <li>
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
                <li class="quetepires3">
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
                <li class="quetepires2">
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>
              <li class="quetepires">
                <%= image_tag("bob.png") %>
                <a href="#"><label>Africa:Save Africa from the FMI </label></a>
                  
                  <a  class="nacionalidad" href="#"><%= image_tag ("jamaica.png")%></a>
              </li>



     
          
           </ul>
    </div><!--/.realtime-->
  
</div> <!--/.row-fluid-->
  

<div class="row-fluid">
  <div class="span12">
    
      <div class="span5" id="navcampana"> 
        <ul class="">
          <li><a href="#"><%= image_tag("social.png") %> </a></li>
           <li><a href="#"><%= image_tag("propias.png") %> </a></li>
           <li><a href="#"><%= image_tag("calientes.png") %> </a></li>
           <li><a href="#"><%= image_tag("ultimas.png") %> </a></li>    
           <li><a href="#"><%= image_tag("tipologia.png") %> </a></li> 
           <li><a href="#"><%= image_tag("activista.png") %> </a></li> 
           <li><a href="#"><%= image_tag("geografica.png") %> </a></li>       
       </ul>
     </div>
      <div class="span6 hidden-phone" id="claim">
          <h4>
            Una herramienta de presión social abierta, horizontal y transparente. 
          </h4>
      </div>
    </div>
  
</div>


<div class="main">
                  <div class="view view-tenth span6">
                    <%= image_tag("osos.jpg") %>
                    <div class="mask">
                        <h2>Save the artic from the assholes</h2>
                        <p>Save the artic from the assholes that want to explot it.The Arctic Ocean, located in the Northern Hemisphere and mostly in the Arctic north polar region, is the smallest and shallowest of the world's five major oceanic divisions.[1] The International Hydrographic Organization (IHO) recognizes it as an ocean, although some oceanographers call it the Arctic Mediterranean Sea or simply the Arctic Sea, classifying it a mediterranean sea or an estuary of the Atlantic Ocean.[2][3] Alternatively, the Arctic Ocean can be seen as the northernmost part of the all-encompassing World Ocean.

</p>
                        <a href="#" class="info">Firmar</a>
                    </div>
                </div>
                <div class="view view-tenth span6">
                    <%= image_tag("leon.jpg") %>
                    <div class="mask">
                        <h2>Hover Style #10</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-tenth span6">
                    <%= image_tag("25.jpg") %>
                    <div class="mask">
                        <h2>Hover Style #10</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
                <div class="view view-tenth span6">
                    <%= image_tag("ANTIMILITARISMo.png") %>
                    <div class="mask">
                        <h2>Hover Style #10</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
                </div>
            </div>
        



</div>

<div class="row-fluid">
    <div id="home-icons" class="offset1 span5">
      <a href="#"><img alt="Semi-footer-img1" src="/assets/semi-footer-img1.png"></a>
    </div>
    <div id="home-text" class="span6">
      <h2>Recogida de firmas</h2>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <h2>Mailing masivo</h2>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
      <h2>Fax</h2>
      <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
    </div>
  </div>
  <div id="footer" class="container-fluid">
      <div class="row-fluid">
        <div class="span3 offset1" id="first_footer_a">
          <ul>
            <li><a href="/es/campaigns/feed"><img alt="Rss-icon" src="/assets/rss-icon.png"></a>
            </li><li><a href="https://twitter.com/oigame"><img alt="Twitter_icon" src="/assets/twitter_icon.png"></a>
            </li><li><a href="https://plus.google.com/109609067558669990733/posts"><img alt="Googleplus" src="/assets/googleplus.png"></a>
            </li><li><a href="https://www.facebook.com/oiga.me"><img alt="Facebook_icon" src="/assets/facebook_icon.png"></a>
          </li></ul>
        </div>
        <div class="span4" id="first_footer_b">
          <ul>
            <li><a href="#"><img alt="99pk" src="/assets/99pk.png"></a></li>
            <li><a href="#"><img alt="Transparentpk" src="/assets/transparentpk.png"></a></li>
            <li><a href="#" ><img alt="Openpk" src="/assets/openpk.png"></a></li>       
          </ul>
        </div>
        <div id="consejo-social" class="span4" style="text-align: right;">
          <img alt="Bandera-greenpeace" src="/assets/bandera-greenpeace.png">
        </div>
      </div>
      <div class="row-fluid" style="text-align: center;">
        <div class="span12" id="footer-nav">
        <ul>
          <li class="active"><a href="/es">Inicio</a></li>
          <li><a href="/es/about">Acerca de</a></li>
          <li><a href="/es/contact">Contacto</a></li>
          <li><a href="#">Buscar</a></li>
          <li><a href="/es/donate">Donar</a></li>
          <li><a href="/es/campaigns/new">Crear</a></li>
          <li><a href="/es/help">Ayuda</a></li>              
        </ul>            
      </div>
      </div>
    </div>

    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "csscustom" %>
    <%= javascript_include_tag "bootstrap.min" %>



  </body>
</html>
