<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <title><%= @page_title %> - oiga.me</title>
    <%= stylesheet_link_tag 'wave' %>
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <link rel="alternate" type="application/rss+xml" title="Última campañas de oiga.me" href="http://<%= APP_CONFIG[:domain] %>/campaigns/feed" />
    <%= javascript_include_tag 'wave' %>
    <%= csrf_meta_tags %>
    <% if Rails.env == 'production' %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19861474-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script> 
    <% end %>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {lang: 'es'}
    </script>
  </head>
  <body>
  </body>
</html>
