<% @page_title = t(:signup) %>

<div id="accounts-wrapper">
  <div id="accounts">
    <div id="signup-form" class="form-stacked">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <fieldset>
          <legend><%= @page_title %></legend>
          <div class="form-field">
            <%= f.label t(:email) %>
            <%= f.email_field :email, :required => true %>
            <% unless resource.errors[:email].blank? %>
              <span class="error_message"><%= resource.errors[:email].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-field">
            <%= f.label t(:password) %>
            <%= f.password_field :password %>
            <% unless resource.errors[:password].blank? %>
              <span class="error_message"><%= resource.errors[:password].to_sentence %></span>
            <% end %>
          </div>
          <div class="form-field">
            <%= f.label t(:password_confirmation) %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="form-actions">
            <%= f.submit @page_title, :class => 'btn submit' %>
          </div>
        </fieldset>
      <% end %>
      <%= render :partial => "users/shared/links" %>
    </div><!-- signup-form -->
  </div><!-- account -->
</div><!-- accounts-wrapper -->
